<img src="images/logo.jpg" style="display: block; margin-left: auto; margin-right: auto;" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם חינמי ללימוד תכנות בעברית.">

# <span style="text-align: right; direction: rtl; float: right;">כתיבת שאילתות – חלק 2</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כה למדנו על הפסוקיות <code>SELECT</code>, <code>FROM</code>, <code>WHERE</code> ו־<code>LIMIT</code> ועל סדר הרצתם על ידי מנוע ה־SQL.<br>
    דיברנו גם על אופרטורי השוואה, אופרטורים לוגיים ועל <code>NULL</code>,<br>
    ובעצם למדנו לראשונה מה הם מסדי נתונים ואיך כותבים שאילתות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו נלמד:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>איך מסדרים את התוצאות שחזרו מהשאילתה שלנו.</li>
    <li>מהן הפונקציות המובנות ב־SQL ובאילו מקרים הן עשויות לסייע לנו.</li>
    <li>כיצד למנוע כפילויות בתוצאות השאילתה.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בואו נתחיל!
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;"><code>ORDER BY</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיוון שסידור של נתונים היא פעולה שאורכת זמן רב, כברירת מחדל מסדי נתונים לא מחזירים תוצאות לפי סדר מסוים.<br>
    ובכל זאת, לפעמים עולה הצורך לקבל את התוצאות כשהן מסודרות:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>רשימת החניכים בכתה לפי הציונים שלהם.</li>
    <li>רשימת הקבצים במחשב לפי תאריך השימוש האחרון בהם.</li>
    <li>רשימת הלקוחות, לפי לקוח שבזבז אצלנו הכי הרבה כסף.</li>
    <li>רשימת התרגילים שנותרו לבדיקה, מסודרים לפי כמות ההערות של הבדיקות האוטומטיות (פחות הערות? יבדק ראשון!)</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אז איך נבקש ממסד הנתונים לסדר עבורינו את התוצאות?<br>
    נוסיף פסוקית <code>ORDER BY</code> לשאילתה, ואחריה נציין את שם העמודה לפיה אנחנו רוצים לסדר:<br>
</p>

```sql
SELECT *
FROM names
ORDER BY children;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשאילתה האחרונה, ביקשנו לסדר את הישויות בטבלת <var>names</var> לפי מספר הילדים שיש ברשותם.<br>
    נוכל גם להוסיף פסוקית <code>LIMIT</code> כדי להגביל את כמות התוצאות שיחזרו:
</p>

```sql
SELECT *
FROM names
ORDER BY children
LIMIT 5;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך, בשאילתה האחרונה, הוחזרו לנו רק 5 אנשים ממסד הנתונים.<br>
    אלו האנשים שכמות הילדים שהביאו לעולם היא הנמוכה ביותר.<br>
    זה המצב כיוון שמסדי נתונים מסדרים את התוצאות, כברירת מחדל, בסדר עולה – מהנמוך לגבוה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוסיף גם פסוקית <code>WHERE</code>, שתחזיר עבורינו רק אנשים שעודם בחיים.
</p>

```sql
SELECT *
FROM names
WHERE date_of_death IS NULL
ORDER BY children
LIMIT 5;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עכשיו, כשאנחנו יודעים איך נראית שאילתה שבנויה מכל הפסוקיות שלמדנו,<br>
    נרענן את סדר הרצת הפסוקיות במנוע ה־SQL:
</p>

<figure>
    <img src="images/clause-execution-order-2.svg?v=2" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה: שאילתה שבנויה מ־5 פסוקיות: SELECT, FROM, WHERE, ORDER BY ו־LIMIT. משמאל למילה FROM מופיע עיגול עם הספרה 1, משמאל למילה WHERE מופיע עיגול עם הספרה 2, משמאל למילה SELECT מופיע עיגול עם הספרה 3, משמאל למילה 4 מופיע עיגול עם המילים ORDER BY ומשמאל ל־LIMIT מופיע עיגול עם המילה 5."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        איור שממחיש את סדר הרצת הפסוקיות בשאילתת SQL שמבצע מנוע ה־SQL על מסד הנתונים.
    </figcaption>
</figure>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            מה שמו של בעל התפקיד הנמוך ביותר במסד הנתונים שלנו? מה גובהו?<br>
            לפני שתפתרו, חישבו על המוקש שצריך לנטרל בכתיבת שאילתה שכזו.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי לפתור את השאלה למעלה, נפרק אותה למרכיביה.
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li><code>FROM</code>: מאיפה נשלוף את המידע? – מהטבלה שממנה ניקח את הנתונים, <var>names</var>.</li>
    <li><code>SELECT</code>: אילו נתונים נבחר מהטבלה? – את שם בעל התפקיד ואת גובהו.</li>
    <li><code>ORDER BY</code>: השאלה מבקשת את "הגובה הנמוך ביותר", ולכן רומזת לנו לסדר לפי העמודה <var>height</var>.</li>
    <li><code>LIMIT</code>: כמה רשומות נרצה לשלוף? – אחת ויחידה.</li>
    <li><code>WHERE</code>: המוקש שחשוב לנטרל: נצטרך להתעלם מגבהים שהם <code>NULL</code> ולבקש לא להחזיר אותם.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסח כשאילתה:
</p>

```sql
SELECT height, name
FROM names
WHERE height IS NOT NULL
ORDER BY height
LIMIT 1;
```

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            במחברת הקודמת למדנו שרוב המנועים של מסדי הנתונים לא מאפשרים להשתמש בעמודות מחושבות בפסוקית ה־<code>WHERE</code>.<br>
            האם אפשר להשתמש בעמודות מחושבות בפסוקית ה־<code>ORDER BY</code>? מדוע? 
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">סדר שונה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כפי שלמדנו לפני כן, ברירת המחדל של <code>ORDER BY</code> היא לסדר את העמודה מהתוצאה הקטנה ביותר לגדולה ביותר.<br>
    אבל מה אם אנחנו רוצים לסדר את התוצאות בסדר הפוך?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למזלנו יש פתרון פשוט.<br>
    אחרי שם העמודה בפסוקית <code>ORDER BY</code>, נציין אם היא תסודר בסדר עולה או יורד.<br>
    נבחר במילת המפתח <code>DESC</code> (מלשון descending, יורד) אם נרצה שהנתונים בעמודה יסודרו מהגדול לקטן,<br>
    או <code>ASC</code> (מלשון ascending, עולה) אם נרצה להצהיר במפורש שהנתונים בעמודה יסודרו מהקטן לגדול. זו גם ברירת המחדל.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נבקש לסדר את שמות בעלי התפקידים לפי הגובה שלהם – מהגבוה לנמוך:
</p>

```sql
SELECT name
FROM names
WHERE height IS NOT NULL
ORDER BY height DESC;
```

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; ">
        <img src="images/deeper.svg?a=1" style="height: 50px !important;" alt="העמקה" title="העמקה"> 
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            אם נחליט שלא לסנן החוצה את ערכי ה־<code>NULL</code>, נוכל להחליט אם הם יופיעו ראשונים או אחרונים.<br>
            בפסוקית ה־<code>ORDER BY</code>, נכתוב <code>NULLS FIRST</code> כדי שיוחזרו ראשונים, או <code>NULLS LAST</code> כדי שיוחזרו אחרונים.
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">סידור לפי עמודות מרובות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נשפר מעט את השאילתה שכתבנו זה עתה.<br>
    בשביל פישוט הדוגמה הבאה, נסנן החוצה את הרשומות שמכילות גבהים לא הגיוניים, ונבקש לראות רק 100 תוצאות:
</p>

```sql
SELECT * 
FROM names 
WHERE height IS NOT NULL 
      AND height < 250 
ORDER BY height DESC 
LIMIT 100;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ואולי, אחרי מחשבה נוספת, יהיה הולם לתת כבוד לבעלי התפקידים המבוגרים יותר.<br>
    מובן שכדי לסדר את האנשים לפי תאריך הלידה שלהם, נצטרך להשתמש ב־<code>ORDER BY</code>, בצורה הבאה:
</p>

```sql
SELECT * 
FROM names 
WHERE date_of_birth IS NOT NULL 
ORDER BY date_of_birth  -- ASC אם נרצה, אפשר להוסיף כאן את מילת המפתח
LIMIT 100;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אבל מה אם נרצה לסדר את בעלי התפקידים לפי גובהם,<br>
    ורק אם גובהם של 2 בעלי תפקידים או יותר זהה לתת עדיפות לזה שנולד קודם?<br>
    מקרה שכזה מכריח אותנו להתייחס ל־2 עמודות בפסוקית ה־<code>ORDER BY</code>: גם <var>height</var> וגם <var>date_of_birth</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נכתוב את העמודות בפסוקית ה־<code>ORDER BY</code> לפי החשיבות שלהן, ונפריד ביניהן בפסיק:
</p>

```sql
ORDER BY height DESC, date_of_birth
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ובתוך השאילתה:
</p>

```sql
SELECT * 
FROM names 
WHERE height IS NOT NULL 
      AND height < 250
      AND date_of_birth IS NOT NULL 
ORDER BY height DESC, date_of_birth
LIMIT 100;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    דרך טובה להסתכל על התוצאות שיחזרו היא "סדר לפי גובה בסדר יורד – ואם הגובה זהה, סדר לפי תאריך הלידה".
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב שבשאילתה הזו בחרנו להשמיט את כל מי שאין לנו ידע לגבי גובהו או לגבי מתי הוא נולד.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: ועדת המדרוג</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כשבנו את מסד הנתונים עליו אתם עובדים, החליטו להסיר ממנו את כל הסרטים שדורגו מעט מדי פעמים.<br>
    מצאו מה המספר הקטן ביותר של דירוגים שסרט היה צריך לקבל כדי להישאר במסד הנתונים.<br>
    איזה סרט קיבל את הציון הממוצע הגבוה ביותר עם מספר דירוגים שכזה?
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">פונקציות במסדי נתונים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לשמחתנו הרבה, כמו שישנן פונקציות מובנות בפייתון – קיימות כאלו גם במסדי נתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ישנן לא מעט כאלה, וכמובן שלא נסקור את כולן –<br>
    אבל בכל זאת בחרנו להתעכב על כמה שימושיות שיסייעו לנו בדוגמאות בהמשך.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="images/warning.png" style="height: 50px !important;" alt="אזהרה!"> 
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            רוב תחביר ה־SQL שלמדנו עד עכשיו די דומה בין מנועי ה־SQL השונים.<br>
            בניגוד לתחביר שלמדנו, נדיר למצוא פונקציות ששמותיהם זהים בכל המנועים השונים.<br>
            אנחנו ממליצים מאוד לרפרף בפרק הפונקציות שנמצא בתיעוד של המנוע בו אתם משתמשים.
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">חיתוך מחרוזות באמצעות <code>substr</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מטרת הפונקציה <code>substr</code> היא להחזיר חלק מהתווים של מחרוזת מסוימת. היא עובדת באופן מעט שונה מחיתוך בפייתון.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הפונקציה מקבלת שלושה פרמטרים:<br>
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>מחרוזת (נקרא לה <var>X</var>)</li>
    <li>מאיפה להתחיל לחתוך את המחרוזת (<var>Y</var>)</li>
    <li>כמה תווים לחתוך החל מהמקום הזה (<var>Z</var>)</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לדוגמה, הביטוי <code dir="ltr" style="direction: ltr;">substr("Piposh", 1, 3)</code> יחזיר את המחרוזת <samp>"Pip"</samp>, כיוון שהוא חותך 3 תווים החל מהמקום הראשון במחרוזת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
כמה דברים מעניינים <a href="https://sqlite.org/lang_corefunc.html#substr">מתוך התיעוד</a> שכדאי לשים לב אליהם:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li><var>Y</var> מתחיל מ־1 – כלומר, התו הראשון במחרוזות ב־SQLite נמצא במקום 1 ולא במקום 0 כמו שהתרגלנו מפייתון.</li>
    <li>אם הפרמטר <var>Y</var> שלילי, המיקום של התו הראשון במחרוזת יימצא על ידי ספירת תווים מסוף המחרוזת (כמו בפייתון).</li>
    <li>אם הפרמטר <var>Z</var> שלילי, החיתוך יתבצע לכיוון תחילת המחרוזת.</li>
    <li>אם לא הועבר הארגומנט <var>Z</var>, הפונקציה תחזיר את כל התווים ממקום <var>Y</var> ועד סוף המחרוזת.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו לחזות מה יהיו תוצאותיהן של השאילתות הבאות.<br>
    הריצו את השאילתות כדי לבדוק אם צדקתם.
</p>

```sql
SELECT substr('Piposh', 1, 2);
SELECT substr('Piposh', -3, 2);
SELECT substr('Piposh', 1, -3);
SELECT substr('Piposh', -3, -3);
SELECT substr('Piposh', -3);
```

### <span style="text-align: right; direction: rtl; float: right; clear: both;">עיגול מספרים באמצעות <code>round</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הפונקציה <code dir="ltr" style="direction: ltr;">round(X, Y)</code> מעגלת את המספר <var>X</var> ל־<var>Y</var> ספרות אחרי הנקודה העשרונית.<br>
    אם הארגומנט <var>Y</var> לא מועבר לפונקציה, SQLite לא ישאיר ספרות אחרי הנקודה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
לדוגמה:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li><code dir="ltr" style="direction: ltr;">round(3.141, 2)</code> יחזיר <samp>3.14</samp>.</li>
    <li><code dir="ltr" style="direction: ltr;">round(3.1414, 2)</code> גם יחזיר <samp>3.14</samp>.</li>
    <li><code dir="ltr" style="direction: ltr;">round(3.14, 2)</code> גם יחזיר <samp>3.14</samp>.</li>
    <li><code dir="ltr" style="direction: ltr;">round(3.141)</code> יחזיר <samp>3</samp>.</li>
    <li><code dir="ltr" style="direction: ltr;">round(3.848)</code> יחזיר <samp>4</samp>.</li>
</ul>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">טיפול בתאריכים באמצעות <code>strftime</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מטרת הפונקציה <code>strftime</code> היא להחזיר תאריך לפי תבנית כלשהי.<br>
    זו פונקציה יחסית מורכבת, לכן מומלץ שלא להסתפק בסיכום שבמחברת, וכן לגשת לקרוא את <a href='https://sqlite.org/lang_datefunc.html'>עמוד התיעוד</a> המלא.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הפרמטר הראשון שנעביר לפונקציה יהיה מחרוזת, הבנויה כתבנית שמתארת כיצד יורכב התאריך שנרצה להחזיר כפלט.<br>
    האפשרויות הן:
</p>

<table style="text-align: right; direction: rtl; clear: both; font-size: 1.3rem">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">אפשרויות לחלקי זמן עבור הפרמטר הראשון של <code>strftime</code></caption>
    <thead>
        <tr>
            <th>המחרוזת</th>
            <th>החלק שהיא מסמנת בתאריך</th>
            <th>דוגמה לערך חזרה אפשרי מ־<code>strftime</code></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code dir="ltr">%Y</code></td>
            <td>שנה בת 4 ספרות</td>
            <td><samp dir="ltr">1812</samp></td>
        </tr>
        <tr>
            <td><code dir="ltr">%m</code></td>
            <td>חודש ב־2 ספרות</td>
            <td><samp dir="ltr">12</samp> (דצמבר)</td>
        </tr>
        <tr>
            <td><code dir="ltr">%d</code></td>
            <td>יום בחודש ב־2 ספרות</td>
            <td><samp dir="ltr">14</samp></td>
        </tr>
        <tr>
            <td><code dir="ltr">%H</code></td>
            <td>שעה ב־2 ספרות, בין 00 ל־24</td>
            <td><samp dir="ltr">10</samp></td>
        </tr>
        <tr>
            <td><code dir="ltr">%M</code></td>
            <td>דקות</td>
            <td><samp dir="ltr">50</samp></td>
        </tr>
        <tr>
            <td><code dir="ltr">%S</code></td>
            <td>שניות</td>
            <td><samp dir="ltr">00</samp></td>
        </tr>
        <tr>
            <td><code dir="ltr">%s</code></td>
            <td>מספר השניות שעברו מאז 1970-01-01</td>
            <td><samp dir="ltr">1234567890</samp> (ב־13 בפברואר 2009, בשעה 23:31:30)</td>
        </tr>
        <tr>
            <td><code dir="ltr">%Y</code></td>
            <td>שנה בת 4 ספרות</td>
            <td><samp dir="ltr">1812</samp></td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התבנית יכולה להיות בנויה מכמה חלקי זמן.<br>
    המחרוזת <code dir="ltr" style="direction: ltr;">'%Y-%m-%d'</code>, לדוגמה, מתארת תאריך המורכב משנה, חודש ויום, כשביניהם מפריד הסימן מקף.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הפרמטר השני הוא תיאור התאריך שאליו אנחנו רוצים להתייחס.<br>
    לעיתים קרובות נראה שם את המחרוזת <var>'now'</var> בתור הפרמטר, כדי להתייחס לתאריך הנוכחי.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו בעצמכם:
</p>

```sql
SELECT strftime('%Y-%m-%d %H:%M:%S', 'now') AS current_date;
-- Output: 2020-11-05 00:34:10
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הטריק המגניב בפונקציה הזו הוא שאפשר להעביר ארגומנטים נוספים (ראו modifiers בתיעוד) כדי לזוז קדימה ואחורה בזמן.<br>
    לדוגמה:
</p>

```sql
SELECT strftime('%Y-%m-%d %H:%M:%S', 'now', 'start of month','+1 month','-1 day') AS current_date;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    יחזיר לי את היום אחרון בחודש הנוכחי.<br>
    זה עובד כיוון ש־SQLite עקב אחרי ההוראות שנשלחו כפרמטרים ל־<code>strftime</code>:<br>
    מצא את התאריך כרגע, זוז ממנו לתחילת החודש, קח חודש אחד קדימה ותפחית מזה יום.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: ארוך וקולע</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הציגו את 10 הסרטים ששמם הוא הארוך ביותר במסד הנתונים.<br>
    ודאו שהסרט הראשון שמוצג הוא זה עם השם הארוך ביותר.<br>
    אם יש שני סרטים שאורך שמם זהה, סדרו אותם לפי שמם בסדר אלפבתי.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    רמז: השתמשו בתיעוד הפונקציות באתר של SQLite.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">מילת המפתח <code>DISTINCT</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסה להציג את השנים שבהן שוחררו הסרטים שנמצאים במסד הנתונים שלנו.<br>
    בעזרת הכלים שרכשנו עד כה, נוכל בקלות לנסח שאילתה כזו:
</p>

```sql
SELECT "year"
FROM movies
ORDER BY "year";
```

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="images/tip.png" style="height: 50px !important;" alt="טיפ!" title="טיפ!">
    </div>
    <div style="width: 90%;">
        כיוון ש־<var>year</var> היא גם של של פונקציה ב־SQLite, בחרנו להקיף את שם העמודה בגרשיים.<br>
        שם שמופיע בגרשיים (להבדיל מגרש, שמסמל מחרוזות) הוא בהכרח שם של טבלה או של עמודה.
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    באופן לא מפתיע, שנים מסוימות מופיעות שוב ושוב בתוצאות – כמספר הסרטים ששוחררו באותה שנה.<br>
    שנת 1934 חוזרת על עצמה 289 פעמים, לדוגמה, ושנת 2017 חוזרת על עצמה לא פחות מ־3329 פעמים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להסיר את הכפילויות מתוצאות השאילתה נוכל להשתמש במילת המפתח <code>DISTINCT</code>.<br>
    נעשה זאת כך:
</p>

```sql
SELECT DISTINCT "year" 
FROM movies
ORDER BY "year";
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הסרת הכפילויות תתבצע עבור <em>כל העמודות</em> שעליהן אנחנו שולפים בשאילתת ה־<code>SELECT DISTINCT</code>.<br>
    זאת אומרת שאם נבקש לבצע <code>DISTINCT</code> על שתי עמודות או יותר,<br>
    כל טור בפני עצמו יוכל להכיל כמה פעמים את אותו ערך – אבל שורה שלמה עם אותם ערכים לעולם לא תחזור על עצמה. 
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="images/warning.png" style="height: 50px !important;" alt="אזהרה!"> 
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            מילת המפתח <code>DISTINCT</code> חייבת להופיע מיד אחרי מילת המפתח <code>SELECT</code>.<br>
            כרגע אין לנו דרך לבקש ממסד הנתונים להסיר כפילות רק בחלק מהעמודות.
        </p>
    </div>
</div>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל לדוגמה</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">שאלה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כתבו שאילתה שתציג, ללא כפילויות, את כל השנים והחודשים בהם נולדו ידוענים שנמצאים במסד הנתונים שלנו.<br>
    לדוגמה, במסד הנתונים תהיה שורה בה החודש הוא 05 והשנה היא 1899.<br>
    סדרו את התוצאות לפי השנה ואז לפי החודש, בסדר עולה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו לפתור את התרגיל בעצמכם לפני שתביטו בפתרון.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">פתרון</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השאלה מתייחסת לתאריך הלידה (<var>date_of_birth</var>) של ידוענים (<var>names</var>),<br>
    ומבקשת להשיג את שנת הלידה שלהם ואת חודש הלידה שלהם.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוכל להשיג את הנתונים האלו בעזרת הפונקציה <code>strftime</code>,<br>
    וכמובן שלא נשכח לוודא שאנחנו משתמשים אך ורק בשורות בהן <var>date_of_birth</var> ידוע לנו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך אנחנו פתרנו את השאלה הזו:
</p>

```sql
SELECT DISTINCT strftime('%m', date_of_birth) AS month_of_birth, 
                strftime('%Y', date_of_birth) AS year_of_birth 
FROM names
WHERE date_of_birth IS NOT NULL
ORDER BY year_of_birth, month_of_birth;
```

## <span style="text-align: right; direction: rtl; float: right; clear: both;">סיכום</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו רכשנו כלים נוספים שמאפשרים לנו לכתוב שאילתות SQL עשירות יותר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למדנו כיצד לקבל את הנתונים בצורה מסודרת בעזרת <code>ORDER BY</code>.<br>
    בהמשך, גילינו שקיימות פונקציות גם במסדי נתונים, ואלו מעשירות מאוד את היכולת שלנו לעבד מידע לפני שהוא חוזר אלינו.<br>
    לבסוף, למדנו על מילת המפתח <code>DISTINCT</code> – שמאפשרת לנו לסנן החוצה תוצאות כפולות על עמודה אחת או יותר.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגילים</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">דקות של תהילה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כמה זמן אפשר להקדיש ללמידת פייתון? נמאס!<br>
    וכל הדיבור הזה על סרטים...
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מפה לשם, החלטתם לפרוש לעסקי הבימוי.<br>
    השתמשו בבסיס הנתונים כדי להחליט מהו האורך המיטבי עבור הסרט החדש שלכם.<br>
    צרו עמודה בשם <var>rating</var> בה יופיע הציון המעוגל של הסרט, כמספר שלם.<br>
    צרו עמודה נוספת בשם <var>hours</var> שמכילה את אורך הסרט בשעות, גם הפעם מעוגל למספר שלם.<br>    
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מצאו כמה שעות צריך להיות הסרט שלכם כך שיהיה לו הסיכוי הטוב ביותר לקבל ציון גבוה.<br>
    אל תציגו פעמיים סרטים באותו אורך שקיבלו את אותו ציון.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">שוברי קופות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כתבו שאילתה שמחזירה את שמות כל הסרטים שגרפו את הרווח הגדול ביותר במסד הנתונים שלנו.<br>
    הציגו רק סרטים שיש לנו את הנתונים הללו עליהם, ולא יותר מ־1,000 סרטים בסך הכל.<br>
    אם שני סרטים גרפו רווחים זהים, סדרו אותם לפי היחס בין הרווחים שגרפו לבין התקציב שלהם.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זו שאלה לא קלה שכוללת ישום אינטנסיבי של מה שלמדנו עד כה, ומעט חשיבה יצירתית.<br>
    ודאו שאתם מתייחסים לטיב הנתונים לפני שאתם משתמשים בהם. אל תתייחסו לסרטים שרווחיהם שמורים במטבע שאינו דולרי.<br>
    השתמשו ב<a href="https://sqlite.org/lang_corefunc.html">תיעוד הפונקציות</a> של SQLite כדי לצלוח את השאלה. במידת הצורך, קראו גם על הפונקציה <code>CAST</code>.
</p>