<img src="images/logo.jpg" style="display: block; margin-left: auto; margin-right: auto;" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם חינמי ללימוד תכנות בעברית.">

# <span style="text-align: right; direction: rtl; float: right;">נרמול מסדי נתונים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשיעורים האחרונים עבדנו עם מסדי נתונים טבלאיים – כאלו שבנויים מטבלאות שבהן כל שורה מייצגת ישות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם חקרתם קצת את מסד הנתונים והסתכלתם על הנתונים שנמצאים בטבלאות השונות,<br>
    ייתכן שעלו לכם כמה שאלות מעניינות:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>האם בהכרח יש קשר בין כל הטבלאות?</li>
    <li>האם הקשרים בין הטבלאות מוגדרים במסד הנתונים?</li>
    <li>מדוע מי שבנה את מסד הנתונים החליט לארגן את הטבלאות דווקא כך?</li>
    <li>מהי המטרה של ההפרדה לטבלאות מלכתחילה?</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כבר בפרק הקרוב נענה על כל השאלות הללו.<br>
    עד סוף הפרק תבינו מדוע מסדי נתונים בנויים מטבלאות רבות, באופן שלפעמים נראה סבוך,<br>
    תדעו לארגן מסד נתונים משל עצמכם,<br>
    ותלמדו מספר מונחים חשובים שישמשו אתכם בהמשך הלמידה על SQL.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפני שנצא לדרך, נזכיר את הדיאגרמה שהצגנו במחברת הראשונה, כשרק למדנו על השורות והעמודות שבמסד הנתונים.
</p>

<figure>
    <img src="images/schema_diagram.png?v=2" style="width: 800px; margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה קופסאות שראשיהן צבועים בצבעים שונים. לכל קופסה צבע, כותרת ותוכן. הכותרת מתארת את שם הטבלה במסד הנתונים, והתוכן של הקופסה מורכב משורות – כל שורה מתארת עמודה שקיימת באותה טבלה. בין הקופסאות עוברים קווים המחברים בין עמודה בטבלה אחת לעמודה בטבלה אחרת. כל קו כזה מתאר קשר בין שתי עמודות. ליד חלק מהעמודות יש ציור של מפתח, שמסמל עמודה כעמודה ראשית בטבלה (מפתח ראשי). בכל טבלה לכל היותר סימן אחד של מפתח. ליד כל עמודה גם כתוב הטיפוס שלה – סוג הערכים שהיא יודעת להכיל."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        תרשים שמציג את כל הטבלאות והעמודות במסד הנתונים, כולל את הקשרים ביניהם.<br>
        המינוח המקצועי לתרשים שכזה הוא "תרשים ישויות קשרים" (באנגלית: <abbr title="Entity-relationship diagram">ERD</abbr>).
    </figcaption>
</figure>

## <span style="text-align: right; direction: rtl; float: right;">נרמול של מסד הנתונים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת הקרובה אנחנו הולכים לעבור ביחד מסע של יצירת מסד נתונים קטן שכולל סרטים ושחקנים.<br>
    תוך כדי המסע, נבחן החלטות ורעיונות שקשורים בתכנון ובבנייה של מסד הנתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפני שנתחיל, נציב לעצמנו מטרות.<br>
    בבואנו לתכנן מסד נתונים, היינו רוצים לדעת מה עלינו לעשות כדי לענות על הצרכים הבאים:

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>יהיה קל להסיק תובנות ממסד הנתונים באמצעות שאילתות.</li>
    <li>לא יהיה חשש לאיבוד מידע בפעולות עדכון של מסד הנתונים.</li>
    <li>המידע במסד הנתונים ישמר באופן יעיל וחסכוני במקום.</li>
    <li>המסד יהיה גמיש לשינויים עתידיים, ולא יצריך שינויים קיצוניים בדרך אחסון המידע כשנרצה להרחיב אותו בעתיד.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    יצירה או שינוי של מסד הנתונים כך שיתחשב בנקודות הללו, הוא תהליך שנקרא "<dfn>נרמול של מסד הנתונים</dfn>" (<dfn>Database normalization</dfn>).
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נתחיל!
</p>

### <span style="text-align: right; direction: rtl; float: right;">טבלה אחודה של סרטים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כל הטבלאות האלו הן בלאגן אחד גדול. אנחנו נלך על משהו פשוט יותר.<br>
    כצעד ראשון, נבנה טבלה פשוטה של סרטים.<br>
    העמודות בה יהיו רק כותרת הסרט והשנה שבה הוא יצא.
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוסיף את השחקנים שכיכבו בכל סרט ישירות לטבלת הסרטים שלנו.<br>
    כך נוכל לחסוך את הסיבוך שבהוספת טבלת השחקנים.<br>
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
            <th style="text-align: center;">actor_name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Graham Chapman, John Cleese, Eric Idle, Terry Gilliam</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Hugo Weaving, Rupert Graves, Stephen Rea</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Keanu Reeves, Laurence Fishburne, Hugo Weaving</td>
            </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במבט ראשון – זה פנטסטי!<br>
    יצרנו טבלה שכוללת את שמות השחקנים בכל סרט, בלי להסתבך עם יצירת טבלה נוספת.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נצייר ERD של הטבלה החדשה שלנו:
</p>

<figure>
    <img src="images/normalization_erd_1.svg?v=7" style="width: 200px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסה שבה כותרת שצבע הרקע שלה אפור. הקופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו.<br>
        כרגע הוא כולל רק את הטבלה <var>movies</var>, את עמודותיה ואת סוגי הנתונים שבהם.
    </figcaption>
</figure>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            אם נקדיש עוד רגע להתבונן בישויות שיצרנו, נוכל למצוא כמה וכמה בעיות שהסידור הזה יוצר.<br>
            יכולים לחשוב על כמה מהן?
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right;">אי־פריקות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הנה כמה בעיות מרכזיות שנוצרות בעקבות הצורה בה בחרנו לבנות את הטבלה:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>כששמו של שחקן ישתנה, נצטרך לעדכן את שמו בכל השורות בהן מופיע שם השחקן. זה יהיה מסורבל, ועלול לגרום לטעויות.</li>
    <li>הוספת מידע על אחד השחקנים, כמו תאריך יום הולדתו, תהיה מסורבלת ותיצור שאילתות מסורבלות בעתיד.</li>
    <li>השאילתה שמאחזרת סרטים בהם שיחק שחקן מסוים עשויה להיות מסורבלת ולכלול מקרי קצה של חיפושים במחרוזות.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לכן, אחת מהפעולות החשובות בנרמול של מסד נתונים הוא לוודא את <dfn>האי־פריקות</dfn> (<dfn>atomicity</dfn>) של הנתונים בו.<br>
    במילים פשוטות: שבכל תא בכל אחת מהטבלאות יש נתון שאי־אפשר לפרק ליחידות קטנות יותר.<br>
    במקרה שלנו, כל תא בעמודה <var>actor_name</var> בנוי משמותיהם של כמה שחקנים, וזוהי הפרה של רעיון האי־פריקות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיצד נתקן את המצב?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אחת הרעיונות המיידיים שאולי קפצו לכם לראש הוא ליצור עמודה עבור כל אחד מהשחקנים.<br>
    התיקון הזה בעייתי, כיוון שהוא משאיר אותנו עם טבלה שקשה לתשאל.<br>
    נסו לדמיין את הסרבול שבכתיבת שאילתה שבודקת אם שחקן מסוים שיחק במטריקס כשיש לנו 20 עמודות של שחקנים.<br>
    בנוסף, הרעיון הזה עדיין לא מאפשר לנו להוסיף מידע בקלות על כל אחד מהשחקנים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אפשרות אחרת שתפתור עבורנו את כל הבעיות שהצגנו היא ליצור שורה עבור כל שחקן.<br>
    כך המידע יענה על דרישת האי־פריקות, ויאפשר לנו להוסיף בקלות מידע על אודות השחקנים שהשתתפו בסרט.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוסיף עבור כל שחקן שורה משלו, ועל הדרך ניצור עמודה שבה יופיע תאריך לידתו של כל שחקן.
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
            <th style="text-align: center;">actor_name</th>
            <th style="text-align: center;">actor_birth_date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Graham Chapman</td>
            <td style="text-align: left;">1941-01-08</td>
        </tr>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">John Cleese</td>
            <td style="text-align: left;">1939-10-27</td>
        </tr>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Eric Idle</td>
            <td style="text-align: left;">1943-03-29</td>
        </tr>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Terry Gilliam</td>
            <td style="text-align: left;">1940-11-22</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">1960-04-04</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Rupert Graves</td>
            <td style="text-align: left;">1963-06-30</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Stephen Rea</td>
            <td style="text-align: left;">1946-10-31</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Keanu Reeves</td>
            <td style="text-align: left;">1964-09-02</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Laurence Fishburne</td>
            <td style="text-align: left;">1961-07-30</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">1960-04-04</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצלחה!
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נעדכן את ה־ERD:
</p>

<figure>
    <img src="images/normalization_erd_2.svg?v=1" style="width: 200px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסה שבה כותרת שצבע הרקע שלה אפור. הקופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר שהוספנו עמודה.<br>
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אבל הנודניקים שבינינו שוב מעקמים את האף.<br>
    "גם בצורה הזו יש לא מעט בעיות!", הם נזעקים.<br>
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            קחו רגע ונסו לחשוב מה הבעיות שעולות מהעיצוב החדש שיצרנו עבור מסד הנתונים.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

### <span style="text-align: right; direction: rtl; float: right;">תרגיל ביניים: מן המסד</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בנו טבלה שמכילה פרטים על משתמשים בקורס פייתון.<br>
    הטבלה תכלול את שם המשתמש, תאריך יום ההולדת שלו (אם הוא סיפק כזה) ואת התרגילים שפתר.<br>
    עבור כל תרגיל שפתר המשתמש קיימות התכונות הבאות: שם, מספר מחברת ומועד אחרון להגשה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    צרו ERD שמתאר את הטבלה שיצרתם.<br>
    תוכלו להשתמש ב־<a href="https://vuerd.github.io/vuerd/?path=/story/demo--live">vuerd</a>, או בכל כלי אחר שיהיה לכם נוח עבור המשימה.
</p>

### <span style="text-align: right; direction: rtl; float: right;">צימוד וכפילויות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אנחנו בטוחים שהצלחתם לחשוב על לא מעט בעיות בצורה החדשה בה אירגנו את הטבלה.<br>
    עבורנו, אחת הבעיות הראשונות שזועקות מהטבלה היא כפילות הנתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אנחנו לא סתם נטפלים לכפילות הזו – היא ממש מסוכנת.<br>
    נתמקד בכפילות של שחקנים – שהרי אותו שחקן יכול לשחק בכמה סרטים.<br>
    בדוגמה שלנו, השחקן הנפלא הוגו ויבינג משחק גם בסרט The Matrix וגם בסרט V for Vendetta.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם נרצה להוסיף סרט שבו משחק ויבינג, נצטרך לציין שוב את כל פרטי השחקן שלו – שכבר כתובים בשורה אחרת.<br>
    בדוגמה שלנו זה רק תאריך יום ההולדת, אבל לו היו עמודות נוספות היינו צריכים להעתיק שוב את כולן. 
</p>

#### <span style="text-align: right; direction: rtl; float: right;">חריגויות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זה אפילו לא החלק הגרוע ביותר. מה יקרה כשנרצה לעדכן את כתובת מגוריו של ויבינג, לדוגמה?<br>
    נצטרך לכתוב שאילתה שתעבור ותשנה בכל השורות בהן הוא מופיע את כתובת המגורים שלו.<br>
    ומה אם השאילתה תיכשל באמצע, או שהשאילתה שניסחנו לא הצליחה לתפוס את כל השורות בהן ויבינג מופיע?<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במקרה שכזה, כשנשאל את מסד הנתונים איפה ויבינג גר יחזרו לנו שתי כתובות שונות.<br>
    זו אי־סדירות בנתונים שלנו – מצב שבו יש לנו נתונים סותרים במסד הנתונים, ממנו אנחנו חייבים להימנע בכל דרך.<br>
    הבעיה הזו, שבה מידע כפול מסכן את עקביות הנתונים, נקראת <dfn>חֲרִיגוּת עדכון</dfn> (<dfn>Update anomaly</dfn>).
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בעיה נוספת עלולה להיווצר כשננסה להוסיף סרט חדש.<br>
    בסרט האנימציה המוכר Fantasia 2000, לדוגמה, לא ליהקו שחקנים.<br>
    אם נרצה להוסיף אותו למסד הנתונים, לא ברור מה נכניס בעמודות השמורות למידע על השחקנים.<br>
    הבעיה הזו, שבה אי אפשר להכניס מידע חדש בגלל חוסר במידע אחר, נקראת <dfn>חֲרִיגוּת הכנסה</dfn> (<dfn>Insertion anomaly</dfn>).
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ומה באשר למחיקת נתונים?<br>
    אם ישנו שחקן שמשחק רק בסרט אחד, מחיקה של הסרט ממסד הנתונים תמחק לנו את כל המידע שקיים לנו על השחקן.<br> 
    זה אומר שכשנרצה להוסיף את השחקן לסרט אחר בעתיד, יהיו חסרים לנו נתונים כמו יום ההולדת שלו.<br>
    הבעיה הזו, שבה מחיקה של מידע לא נחוץ גוררת איבוד של מידע נחוץ, נקראת <dfn>חֲרִיגוּת מחיקה</dfn> (<dfn>Deletion anomaly</dfn>).
</p>

#### <span style="text-align: right; direction: rtl; float: right;">תמיד יכול להיות גרוע יותר</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ויש עוד!<br>
    אם נרצה להוסיף עבור כל אחד מהשחקנים את שמות הילדים שלו, נצטרך להוסיף שורה עבור כל ילד כדי לשמור על אי־פריקות.<br>
    ואם נרצה לכלול את תחביביו של כל ילד?
</p>
<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בצורה הזו כל עמודה שנרצה להוסיף תגדיל לנו את מספר הישויות משמעותית.<br>
    בסרט שבו יש 5 שחקנים, לכל שחקן יש 3 ילדים ולכל ילד 6 תחביבים,<br>
    יוצא שעבור $1 + 5 + 3 + 6 = 15$ ישויות נצטרך ליצור $1 \cdot 5 \cdot 3 \cdot 6 = 90$ ישויות במסד הנתונים!<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם אתם זועקים מבעד למסך המחשב "בסדר, בסדר, נודניק! נפריד לטבלאות!" זה רק אומר שאתם נורמליים לחלוטין.<br>
    נפריד לטבלאות.
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
            <th style="text-align: center;">actor_name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Graham Chapman</td>
        </tr>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">John Cleese</td>
        </tr>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Eric Idle</td>
        </tr>
        <tr>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">Terry Gilliam</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Hugo Weaving</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Rupert Graves</td>
        </tr>
        <tr>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">Stephen Rea</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Keanu Reeves</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Laurence Fishburne</td>
        </tr>
        <tr>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">Hugo Weaving</td>
        </tr>
    </tbody>
</table>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>actors</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">birth_date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">Graham Chapman</td>
            <td style="text-align: left;">1941-01-08</td>
        </tr>
        <tr>
            <td style="text-align: left;">John Cleese</td>
            <td style="text-align: left;">1939-10-27</td>
        </tr>
        <tr>
            <td style="text-align: left;">Eric Idle</td>
            <td style="text-align: left;">1943-03-29</td>
        </tr>
        <tr>
            <td style="text-align: left;">Terry Gilliam</td>
            <td style="text-align: left;">1940-11-22</td>
        </tr>
        <tr>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">1960-04-04</td>
        </tr>
        <tr>
            <td style="text-align: left;">Rupert Graves</td>
            <td style="text-align: left;">1963-06-30</td>
        </tr>
        <tr>
            <td style="text-align: left;">Stephen Rea</td>
            <td style="text-align: left;">1946-10-31</td>
        </tr>
        <tr>
            <td style="text-align: left;">Keanu Reeves</td>
            <td style="text-align: left;">1964-09-02</td>
        </tr>
        <tr>
            <td style="text-align: left;">Laurence Fishburne</td>
            <td style="text-align: left;">1961-07-30</td>
        </tr>
        <tr>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">1960-04-04</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עכשיו נוכל להעשיר את טבלת <var>actors</var> מבלי לדאוג להשפעות שיהיו לעריכות שלנו על טבלת <var>movies</var>.<br>
    נוסיף תאריך פטירה וגובה, ונמחק את הכפילות שיש לנו במסד הנתונים עבור השחקן הוגו ויבינג:
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>actors</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">height</th>
            <th style="text-align: center;">birth_date</th>
            <th style="text-align: center;">death_date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">Graham Chapman</td>
            <td style="text-align: left;">191.0</td>
            <td style="text-align: left;">1941-01-08</td>
            <td style="text-align: left;">1989-10-04</td>
        </tr>
        <tr>
            <td style="text-align: left;">John Cleese</td>
            <td style="text-align: left;">196.0</td>
            <td style="text-align: left;">1939-10-27</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Eric Idle</td>
            <td style="text-align: left;">186.0</td>
            <td style="text-align: left;">1943-03-29</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Terry Gilliam</td>
            <td style="text-align: left;">175.0</td>
            <td style="text-align: left;">1940-11-22</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">188.0</td>
            <td style="text-align: left;">1960-04-04</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Rupert Graves</td>
            <td style="text-align: left;">180.0</td>
            <td style="text-align: left;">1963-06-30</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Stephen Rea</td>
            <td style="text-align: left;">179.0</td>
            <td style="text-align: left;">1946-10-31</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Keanu Reeves</td>
            <td style="text-align: left;">186.0</td>
            <td style="text-align: left;">1964-09-02</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">Laurence Fishburne</td>
            <td style="text-align: left;">184.0</td>
            <td style="text-align: left;">1961-07-30</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מצוין!
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נעדכן את ה־ERD:
</p>

<figure>
    <img src="images/normalization_erd_3.svg?v=4" style="width: 500px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר העדכון, עם טבלת actors והעמודות הנוספות.<br>
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right;">אילוצים – <code>NULL</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נפנה לרגע תשומת לב לעמודת תאריך הפטירה, שמלאה ב־<code>NULL</code>־ים.<br>
    בעמודות מסוימות, כמו בעמודת תאריכי הפטירה, אנחנו מצפים לראות <code>NULL</code> בחלק מהתאים.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מתי נראה <code>NULL</code> במסד הנתונים שלנו בדרך כלל?
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>כשומר מקום עבור ערך שעדיין לא קיים – לדוגמה, אם השחקן עדיין חי ואין עבורו תאריך פטירה.</li>
    <li>כמחליף של מידע חסר – כמו שחקן שאין לנו נתונים לגבי תאריך יום הולדתו.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לעומת עמודות שעשויות לכלול <code>NULL</code>, יש עמודות שבהן אנחנו ממש בטוחים שלא יופיע <code>NULL</code>.<br>
    אחת מהן, לדוגמה, היא שם השחקן. אין משמעות להכנסת שחקן למסד הנתונים אם אנחנו לא יודעים את שמו.<br>
    נוכל להגיד שאנחנו משוכנעים שהעמודה <var>name</var> לעולם לא תכיל <code>NULL</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    יתרון משמעותי שמסדי נתונים טבלאיים מספקים לנו הוא היכולת לאכוף עקביות בנתונים שאנחנו מאחסנים בו.<br>
    אפשר להגביל את הערכים שיכולים להיכנס לעמודה מסוימת במסד הנתונים בעזרת הגדרת <dfn>אילוצים</dfn> (<dfn>constraints</dfn>).
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לדוגמה, על העמודה <var>name</var> בטבלה <var>actors</var>, נרצה להוסיף את האילוץ <code>NOT NULL</code> – אילוץ שמוודא שהנתון שהוזן לעמודה אינו <code>NULL</code>.<br>
    לרוב, מי שבונה את מסד הנתונים הוא זה שמחליט על האילוצים בעמודות השונות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם תחזרו לתרשים שמתאר את מסד הנתונים, זה שמופיע בתחילת הפרק,<br>
    תוכלו לזהות בקלות עבור אילו עמודות הוגדר האילוץ <code>NOT NULL</code>.<br>
    לצד העמודות ש<em>כן</em> מתירות הזנת <code>NULL</code>, מופיע סימן שאלה, שרומז על כך שלא חייב להיות בעמודה ערך.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוסיף ל־ERD שלנו סימונים שמסמנים באילו עמודות עשוי להיות <code>NULL</code>:
</p>

<figure>
    <img src="images/normalization_erd_4.svg?v=3" style="width: 500px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
        בחלק מהשורות, לצד המלל שמציין את טיפוס הנתונים בעמודה, מופיע N עבור עמודות שעשויות לכלול את הערך NULL.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר העדכון, עם סימון העמודות שעשויות להכיל <code>NULL</code>.<br>
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right;">תרגיל ביניים: ועד הטפחות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בהמשך לתרגיל הקודם, הפרידו את הנתונים לטבלאות וסמנו שדות שניתן להזין בהם <code>NULL</code>.<br>
    הוסיפו עמודה שמכילה מידע על מצב התרגיל, ובה אחד מהערכים "לא הוגש", "הוגש" או "נבדק".
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    צרו ERD שמתאר את הטבלה שיצרתם.<br>
    תוכלו להשתמש ב־<a href="https://vuerd.github.io/vuerd/?path=/story/demo--live">vuerd</a>, או בכל כלי אחר שיהיה לכם נוח עבור המשימה.
</p>

### <span style="text-align: right; direction: rtl; float: right;">מפתח ראשי</span>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            התגעגעתם למשחק שבו אתם מוצאים את הבעיה במסד הנתונים שיצרנו?<br>
            מצאו את הבעיות שעשויות להיווצר מארגון הנתונים כפי שעשינו ב־ERD האחרון.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצלחתם לחשוב על משהו?<br>
    אם תשקיעו מספיק זמן, ודאי תצליחו לחשוב על בעיות רבות.<br>
    נתמקד באחת מרכזית: הייחודיות של כל ישות בטבלאות שיצרנו.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נניח שבטבלת הסרטים מופיעים שני סרטים – Star Wars ו־Dial M for Murder.<br>
    בסרט Star Wars משחק שחקן בשם John Williams.<br>
    תוכלו למצוא אותו במסד הנתונים שמשמש אתכם לתרגול, בטבלת <var>names</var> תחת המזהה nm0002354.<br>
    בסרט Dial M for Murder של היצ'קוק (תורגם ל"אליבי", אם תהיתם) משחק שחקן ששמו הוא... John Williams.<br>
    המזהה שלו במסד הנתונים הוא nm0002369.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זו לא טעות!<br>
    אמנם שמם של שני השחקנים זהה, אך מדובר בשחקנים שונים.<br>
    כיצד נבדיל ביניהם? הרי בעמודת <var>actor_name</var> שבטבלת <var>movies</var> בשני המקרים יהיה כתוב John Williams.<br>
    איך נדע לאיזה שחקן התא שבטבלת <var>movies</var> מתייחס?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הבעיה שלנו היא היכולת לזהות שחקן באופן חד־חד ערכי.<br>
    שם של שחקן או שם של סרט הם נתונים שעשויים להיות בהם כפילויות, ולכן אינם מזהים טובים דיו.<br>
    אם נרצה להתייחס לסרט "The Lion King" – איך נדע האם מדובר בקלאסיקה הנפלאה משנת 1994 או בפשע המודרני משנת 2019?<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אילו היינו מוסיפים לטבלת <var>actors</var> מזהה כלשהו, כמו nm0002354 עבור ג'ון הראשון ו־nm0002369 עבור ג'ון השני,<br>
    היינו יכולים להתייחס בטבלת <var>movies</var> למזהה הזה במקום לשם השחקן.<br>
    בצורה הזו היה קל לנו יותר להבין על איזה John Williams מדובר בכל אחד מהסרטים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    המסקנה המתבקשת היא שעבור כל ישות במסד הנתונים, אנחנו חייבים נתון שיאפשר לזהות אותה באופן ייחודי.<br>
    אם היינו מנהלים מסד נתונים של מרשם האוכלוסין, שבו יש את פרטיהם של כל האזרחים במדינת ישראל.<br>
    איזו שיטה יש לנו לזהות אדם מסוים בישראל באופן ייחודי?<br>
    איך נדע להבדיל בין משה כהן אחד למשנהו?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השיטה שמצאו במשרד הפנים היא שכל אחד מהאנשים יקבל מספר ייחודי לו.<br>
    אתם ודאי מכירים את המספר הזה בתור "תעודת זהות".<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במסדי נתונים נהוג להוסיף לכל טבלה עמודה שמאחסנת נתון ייחודי, כזה שישתנה בין ישות לישות ויזהה אותה באופן חד־חד ערכי.<br>
    לפי הרעיון, לכל שורה מוקצה מזהה שלעולם לא יהיה <code>NULL</code> ולעולם לא יחזור על עצמו באותה טבלה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    דרך פופולרית לממש מזהה ייחודי היא פשוט <dfn>מספר רץ</dfn> (<dfn>autoincrement</dfn>):<br>
    השורה הראשונה שמתווספת לטבלה מקבלת את המזהה 1, השורה השנייה מקבלת את המזהה 2 וכן הלאה.<br>
    זו דרך מצוינת להימנע ממצב בו אותו מזהה מופיע בשתי ישויות שונות באותה טבלה, ולשמור על דרך לזהות כל ישות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הרעיון הנפלא הזה, של עמודה שמכילה נתון שמאפשר לנו לזהות באופן ייחודי כל ישות, נקרא "<dfn>מפתח ראשי</dfn>" (<dfn>primary key</dfn>).<br>
    תוכלו לראות את המפתח הראשי בכל אחת מהטבלאות ב־ERD שמופיע בתחילת הפרק –<br>
    הוא מסומן בעזרת סמליל של מפתח ליד שם העמודה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ניצור מפתחות ראשיים עבור השחקנים והסרטים.<br>
    במקום לציין את שם השחקן בטבלת הסרטים, נציין את המספר הייחודי לו:
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">movie_id</th>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
            <th style="text-align: center;">actor_id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;"><del>Graham Chapman</del> 1</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;"><del>John Cleese</del> 2</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;"><del>Eric Idle</del> 3</td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;"><del>Terry Gilliam</del> 4</td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;"><del>Hugo Weaving</del> 5</td>
        </tr>
        <tr>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;"><del>Rupert Graves</del> 6</td>
        </tr>
        <tr>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;"><del>Stephen Rea</del> 7</td>
        </tr>
        <tr>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;"><del>Keanu Reeves</del> 8</td>
        </tr>
        <tr>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;"><del>Laurence Fishburne</del> 9</td>
        </tr>
        <tr>
            <td style="text-align: left;">10</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;"><del>Hugo Weaving</del> 5</td>
        </tr>
    </tbody>
</table>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>actors</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">actor_id</th>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">height</th>
            <th style="text-align: center;">birth_date</th>
            <th style="text-align: center;">death_date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Graham Chapman</td>
            <td style="text-align: left;">191.0</td>
            <td style="text-align: left;">1941-01-08</td>
            <td style="text-align: left;">1989-10-04</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">John Cleese</td>
            <td style="text-align: left;">196.0</td>
            <td style="text-align: left;">1939-10-27</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Eric Idle</td>
            <td style="text-align: left;">186.0</td>
            <td style="text-align: left;">1943-03-29</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Terry Gilliam</td>
            <td style="text-align: left;">175.0</td>
            <td style="text-align: left;">1940-11-22</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">188.0</td>
            <td style="text-align: left;">1960-04-04</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">Rupert Graves</td>
            <td style="text-align: left;">180.0</td>
            <td style="text-align: left;">1963-06-30</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">Stephen Rea</td>
            <td style="text-align: left;">179.0</td>
            <td style="text-align: left;">1946-10-31</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">Keanu Reeves</td>
            <td style="text-align: left;">186.0</td>
            <td style="text-align: left;">1964-09-02</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">Laurence Fishburne</td>
            <td style="text-align: left;">184.0</td>
            <td style="text-align: left;">1961-07-30</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נעדכן את ה־ERD כך שישקף את השינויים שביצענו בטבלאות.<br>
    נוסיף עמודות של מפתחות ראשיים לכל אחת מהטבלאות, ונסמן אותן בהתאם.<br>
    נשנה את העמודה <var>actor_name</var> בטבלת <var>movies</var> כך שתצביע על <var>actor_id</var> שבטבלת <var>actors</var>.<br>
    נשנה את שם העמודה ל־<var>actor_id</var>, ונגדיר את טיפוס הנתונים שהיא מכילה כ־<code>int</code> במקום כ־<code>text</code>.<br>
    ברוב ה־ERD־ים אתם תראו מפתח קטן ליד השורה שמייצגת את המפתח הראשי של הטבלה, או את ראשי התיבות "<abbr title="primary key">PK</abbr>".
</p>

<figure>
    <img src="images/normalization_erd_5.svg?v=5" style="width: 500px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
        בחלק מהשורות, לצד המלל שמציין את טיפוס הנתונים בעמודה, מופיע N עבור עמודות שעשויות לכלול את הערך NULL.
        בצד שמאל של העמודות שבהן יש מפתח ראשי, מופיע הקיצור PK שמסמן מפתח ראשי.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר העדכון, עם סימון המפתחות הראשיים והעדכון לעמודות.<br>
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right;">מפתח זר</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עבור כל ישות בטבלת <var>movies</var>, עמודת <var>actor_id</var> מצביעה על שחקן שבטבלת <var>actors</var>.<br>
    לצורך כך היא משתמשת במפתח הראשי שבטבלת <var>actors</var>, עמודה ששמה <var>actor_id</var>, שמקצה מזהה ייחודי לכל שחקן.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הרעיון הזה מאפשר לנו להתייחס לשחקן מטבלה אחרת מבלי לחשוש מבעיה של רב־משמעות לגבי זהות השחקן.<br>
    עמודה כמו <var>actor_id</var> בתוך טבלת <var>movies</var> נקראת "<dfn>מפתח זר</dfn>" (<dfn>foreign key</dfn>).<br>
    אנחנו קוראים לעמודה "מפתח זר" כשהערכים שבה מצביעים על מפתח ראשי של טבלה אחרת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
        אם נגדיר במסד הנתונים שעמודת <var>actor_id</var> מטבלת <var>movies</var> היא מפתח זר שמצביע לנתונים מעמודת <var>actor_id</var> שבטבלת <var>actors</var>,<br>
שימוש במספר שחקן לא קיים (נניח, 10) בעמודת <var>actor_id</var> שבטבלת <var>movies</var> יגרום להתרעה על חריגה.
</p>

<figure>
    <img src="images/normalization_erd_6.svg?v=2" style="width: 500px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
        בחלק מהשורות, לצד המלל שמציין את טיפוס הנתונים בעמודה, מופיע N עבור עמודות שעשויות לכלול את הערך NULL.
        בצד שמאל של העמודות שבהן יש מפתח ראשי, מופיע הקיצור PK שמסמן מפתח ראשי.
        בצד שמאל של העמודות שבהן יש מפתח זר, מופיע הקיצור FK שמסמן מפתח זר.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר סימון המפתחות הזרים.<br>
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right;">קשר יחיד לרבים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בצורה הנוכחית של הטבלה, אנחנו יכולים להגיד שמתקיים בין טבלת <var>movies</var> לבין טבלת <var>actors</var> קשר שנקרא "יחיד לרבים".<br>
    זהו מונח שנמצא בשימוש נפוץ. פירושו שבטבלת <var>movies</var> יכולות להיות שורות רבות שיצביעו על שחקן יחיד מטבלת <var>actors</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נחדד: לפי העיצוב הנוכחי, כל שורה בטבלת השחקנים, יכולה להופיע בכמה שורות בטבלת הסרטים.<br>
    באופן רשמי, נוכל להגיד ש"כל ישות ב־<var>actors</var> יכולה להופיע בישויות רבות ב־<var>movies</var>".<br>
    קשר כזה בין טבלאות נקרא "<dfn>קשר יחיד לרבים</dfn>" (<dfn>one-to-many relationship</dfn>).
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    יש שתי דרכים לסמן ב־ERD קשר של יחיד לרבים.<br>
    בשתיהן, נחבר את שתי העמודות הקשורות בקו.<br>
    בדרך הראשונה, נכתוב ליד העמודה של ה"רבים" את האות N, וליד העמודה של ה"יחיד" את הספרה 1.<br>
    בצורה השנייה, נסמן את הצד של ה"יחיד" בשני קווים או בקו שאחריו עיגול. את הצד של ה"רבים" נסמן כמשולש פתוח עם קו אופקי שיוצא מקודקודו.<br>
     כל עוד לא העמקתם בקריאה נוספת באינטרנט על פשר הסימונים, העדיפו לסמן קשרים בדרך הראשונה.
</p>

<figure>
    <img src="images/normalization_erd_7.svg?v=3" style="width: 500px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
        בחלק מהשורות, לצד המלל שמציין את טיפוס הנתונים בעמודה, מופיע N עבור עמודות שעשויות לכלול את הערך NULL.
        בצד שמאל של העמודות שבהן יש מפתח ראשי, מופיע הקיצור PK שמסמן מפתח ראשי.
        בצד שמאל של העמודות שבהן יש מפתח זר, מופיע הקיצור FK שמסמן מפתח זר.
        בין העמודה actor_id שבטבלת movies לבין עמודת actor_id שבטבלת actors נמתח קו.
        בצד שקרוב לטבלת actors מסומן '1', ובצד שקרוב לטבלת movies מסומן 'N'. זו הדרך להציג קשר יחיד לרבים.
        דרך נוספת, גם היא מוצגת באיור, היא סימון הצד של ה'רבים' בשני קווים או בקו שאחריו עיגול. את הצד של ה'רבים' מסמנים כמשולש פתוח עם קו אופקי שיורד מקודקודו.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר סימון קשר יחיד לרבים.<br>
        בחרנו לסמן את קשר היחיד לרבים בשתי הצורות שהוזכרו.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשביל העניין, נניח שאנחנו רוצים שטבלת הסרטים תכלול עמודה נוספת – השפה העיקרית שבה מדברים בסרט המקורי.
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">movie_id</th>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
            <th style="text-align: center;">actor_id</th>
            <th style="text-align: center;">original_language</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">10</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">11</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">10</td>
            <td style="text-align: left;">Portuguese</td>
        </tr>
        <tr>
            <td style="text-align: left;">12</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">11</td>
            <td style="text-align: left;">Portuguese</td>
        </tr>
        <tr>
            <td style="text-align: left;">13</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">12</td>
            <td style="text-align: left;">Portuguese</td>
        </tr>
        <tr>
            <td style="text-align: left;">14</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">13</td>
            <td style="text-align: left;">Portuguese</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב לכמות החזרות של English ו־Portuguese בעמודת <var>original_language</var>.<br>
    נוכל למנוע את החזרה על המחרוזת אם נוציא את הערכים ב־<var>original_title</var> לטבלה נפרדת,<br>
    וניצור קשר של יחיד לרבים בין טבלת השפות החדשה לטבלת הסרטים.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ניצור את טבלת השפות:
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>languages</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">language_id</th>
            <th style="text-align: center;">name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">English</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">Portuguese</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ונעדכן את הערכים בעמודה החדשה שיצרנו ב־<var>movies</var> כך שיהיו מפתח זר למפתח הראשי <var>language_id</var> שבטבלת <var>languages</var>:
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">movie_id</th>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
            <th style="text-align: center;">actor_id</th>
            <th style="text-align: center;">language_id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">10</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">11</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">10</td>
            <td style="text-align: left;">2</td>
        </tr>
        <tr>
            <td style="text-align: left;">12</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">11</td>
            <td style="text-align: left;">2</td>
        </tr>
        <tr>
            <td style="text-align: left;">13</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">12</td>
            <td style="text-align: left;">2</td>
        </tr>
        <tr>
            <td style="text-align: left;">14</td>
            <td style="text-align: left;">Cidade de Deus</td>
            <td style="text-align: left;">2002</td>
            <td style="text-align: left;">13</td>
            <td style="text-align: left;">2</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הקשר הוא יחיד לרבים כיוון שכל שפה מטבלת השפות יכולה להופיע פעמים רבות בעמודה <var>language_id</var> שבטבלת <var>movies</var>.<br>
    נבנה את ה־ERD המתאים:
</p>

<figure>
    <img src="images/normalization_erd_8.svg?v=1" style="width: 800px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
        בחלק מהשורות, לצד המלל שמציין את טיפוס הנתונים בעמודה, מופיע N עבור עמודות שעשויות לכלול את הערך NULL.
        בצד שמאל של העמודות שבהן יש מפתח ראשי, מופיע הקיצור PK שמסמן מפתח ראשי.
        בצד שמאל של העמודות שבהן יש מפתח זר, מופיע הקיצור FK שמסמן מפתח זר.
        בין העמודה actor_id שבטבלת movies לבין עמודת actor_id שבטבלת actors נמתח קו.
        בצד שקרוב לטבלת actors מסומן '1', ובצד שקרוב לטבלת movies מסומן 'N'. זו הדרך להציג קשר יחיד לרבים.
        דרך נוספת, גם היא מוצגת באיור, היא סימון הצד של ה'רבים' בשני קווים או בקו שאחריו עיגול. את הצד של ה'רבים' מסמנים כמשולש פתוח עם קו אופקי שיורד מקודקודו.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD של מסד הנתונים שלנו לאחר הוספת טבלת <var>languages</var> וסימון קשרי הגומלין.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בהמשך המחברת נזנח את התוספת של השפות לטבלת הסרטים כדי לפשט את הדוגמאות.<br>
    אם תרצו, תוכלו לדמיין שהשינויים שעשינו קיימים גם בדוגמאות הבאות.
</p>

### <span style="text-align: right; direction: rtl; float: right;">קשר רבים לרבים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    תיאורטית, היינו רוצים שכל שחקן יוכל לשחק בכמה סרטים.<br>
    הצורה הנוכחית שבה סידרנו את הטבלאות מאפשרת לנו לעשות זאת באלגנטיות, באמצעות הקישור שעשינו בין טבלת <var>actors</var> לטבלת <var>movies</var>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    באותה צורה, נרצה שבכל סרט נוכל להצביע על כמה וכמה שחקנים.<br>
    כרגע, כדי להשיג את המטרה הזו, אנחנו משכפלים את שורת הסרט, ובכל שורה שכזו מזינים מצביע לאחד השחקנים בסרט.<br>
    כבר דנו לעיל בחסרונות המובהקים של שכפול נתונים, ובחריגויות שהחסרונות הללו מביאים איתם.<br>
    ניגש לעיקר: איך מונעים את הכפילות בטבלת הסרטים, שומרים על האי־פריקות ועדיין מאפשרים כמה שחקנים באותו סרט?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    המחשבה הראשונה שעשויה לעבור לנו בראש היא לאחסן מצביע לסרטים בטבלת השחקנים.<br>
    הפתרון הזה ייצור לנו בעיה דומה לבעיה שיש לנו כרגע –<br>
    הוא יכריח אותנו לשכפל את שורת השחקן שבטבלת <var>actors</var> כדי לגרום לו להצביע לכמה סרטים, ומהשכפול הזה אנחנו מנסים להימנע.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אז מה בכל זאת הפתרון?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הדרך הקלאסית לפתור את הבעיה הזו היא ליצור טבלה נוספת, שמייצגת את הקשרים שבין סרטים לבין שחקנים.<br>
    כל שורה תכיל מספר מזהה של סרט, ומספר מזהה של שחקן.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסו לדמיין את זה ויזואלית:<br>
    טבלת <var>movies</var> וטבלת <var>actors</var> נמצאות זו לצד זו,<br>
    והטבלה החדשה שניצור אומרת מאיזו שורה בטבלת <var>movies</var> למתוח קו, ולאיזו שורה בטבלת <var>actors</var> הקו אמור להגיע.
</p>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movies</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">movie_id</th>
            <th style="text-align: center;">title</th>
            <th style="text-align: center;">release_year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Monty Python and the Holy Grail</td>
            <td style="text-align: left;">1975</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">V for Vendetta</td>
            <td style="text-align: left;">2005</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">The Matrix</td>
            <td style="text-align: left;">1999</td>
        </tr>
    </tbody>
</table>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>movie_actors</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">movie_id</th>
            <th style="text-align: center;">actor_id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">1</td>
        </tr>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">2</td>
        </tr>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">3</td>
        </tr>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">4</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">5</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">6</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">7</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">5</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">8</td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">9</td>
        </tr>
    </tbody>
</table>

<table style="clear: both; font-size: 1.5rem;">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">טבלת <var>actors</var></caption>
    <thead>
        <tr>
            <th style="text-align: center;">actor_id</th>
            <th style="text-align: center;">name</th>
            <th style="text-align: center;">height</th>
            <th style="text-align: center;">birth_date</th>
            <th style="text-align: center;">death_date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left;">1</td>
            <td style="text-align: left;">Graham Chapman</td>
            <td style="text-align: left;">191.0</td>
            <td style="text-align: left;">1941-01-08</td>
            <td style="text-align: left;">1989-10-04</td>
        </tr>
        <tr>
            <td style="text-align: left;">2</td>
            <td style="text-align: left;">John Cleese</td>
            <td style="text-align: left;">196.0</td>
            <td style="text-align: left;">1939-10-27</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">3</td>
            <td style="text-align: left;">Eric Idle</td>
            <td style="text-align: left;">186.0</td>
            <td style="text-align: left;">1943-03-29</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">4</td>
            <td style="text-align: left;">Terry Gilliam</td>
            <td style="text-align: left;">175.0</td>
            <td style="text-align: left;">1940-11-22</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">5</td>
            <td style="text-align: left;">Hugo Weaving</td>
            <td style="text-align: left;">188.0</td>
            <td style="text-align: left;">1960-04-04</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">6</td>
            <td style="text-align: left;">Rupert Graves</td>
            <td style="text-align: left;">180.0</td>
            <td style="text-align: left;">1963-06-30</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">7</td>
            <td style="text-align: left;">Stephen Rea</td>
            <td style="text-align: left;">179.0</td>
            <td style="text-align: left;">1946-10-31</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">8</td>
            <td style="text-align: left;">Keanu Reeves</td>
            <td style="text-align: left;">186.0</td>
            <td style="text-align: left;">1964-09-02</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
        <tr>
            <td style="text-align: left;">9</td>
            <td style="text-align: left;">Laurence Fishburne</td>
            <td style="text-align: left;">184.0</td>
            <td style="text-align: left;">1961-07-30</td>
            <td style="text-align: left;"><code>NULL</code></td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    טבלת <var>movie_actors</var> היא טבלה שמכילה שני מפתחות זרים:<br>
    אחד שמצביע על המפתח הראשי של טבלת <var>movies</var>, ואחד שמצביע על המפתח הראשי של טבלת <var>actors</var>.<br>
    הטבלה הזו, שנקראת בעגה המקצועית <dfn>טבלה מקשרת</dfn> (<dfn>junction table</dfn>), היא מעין טבלת עזר.<br>
    קיומה מאפשר לנו להגדיר קשר מורכב, בו שחקן יכול להופיע בכמה סרטים, ובכל סרט יכולים לשחק כמה שחקנים.<br>
    הקשר הזה, שמוגדר בין <var>movies</var> לבין <var>actors</var> נקרא <dfn>קשר רבים לרבים</dfn> (<dfn>many-to-many relationship</dfn>).
</p>

<figure>
    <img src="images/normalization_erd_9.svg?v=5" style="width: 800px; margin-right: auto; margin-left: auto; text-align: center;" alt="
        בתמונה קופסאות שבהן כותרת, שצבע הרקע שלה אפור. כל קופסה מיצגת טבלה.
        בראש הקופסה כתוב שמה של הטבלה, ומתחתיה שורות המייצגות את העמודות שהוגדרו בטבלה.
        לצד כל עמודה, באפור, מופיע מלל שמתאר את סוג הנתונים שיהיו באותה עמודה: text, date וכדומה.
        בחלק מהשורות, לצד המלל שמציין את טיפוס הנתונים בעמודה, מופיע N עבור עמודות שעשויות לכלול את הערך NULL.
        בצד שמאל של העמודות שבהן יש מפתח ראשי, מופיע הקיצור PK שמסמן מפתח ראשי.
        בצד שמאל של העמודות שבהן יש מפתח זר, מופיע הקיצור FK שמסמן מפתח זר.
        בין העמודה actor_id שבטבלת movies לבין עמודת actor_id שבטבלת actors נמתח קו.
        בצד שקרוב לטבלת actors מסומן '1', ובצד שקרוב לטבלת movies מסומן 'N'. זו הדרך להציג קשר יחיד לרבים.
        דרך נוספת, גם היא מוצגת באיור, היא סימון הצד של ה'רבים' בשני קווים או בקו שאחריו עיגול. את הצד של ה'רבים' מסמנים כמשולש פתוח עם קו אופקי שיורד מקודקודו.
"/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        ה־ERD המעודכן שמשקף את קשר הרבים לרבים שבין טבלת <var>movies</var> לבין טבלת <var>actors</var>.<br>
        לעיתים, תרשימים ישמיטו את הטבלה המקשרת ויסמנו N בקצוות הקווים.
    </figcaption>
</figure>

### <span style="text-align: right; direction: rtl; float: right;">תרגיל ביניים: ומחוץ עד החצר הגדולה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בהמשך לתרגיל הקודם, הוסיפו לטבלאות שיצרתם מפתחות ראשיים וצרו ביניהם קשרי גומלין.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    צרו ERD שמתאר את הטבלה שיצרתם.<br>
    תוכלו להשתמש ב־<a href="https://vuerd.github.io/vuerd/?path=/story/demo--live">vuerd</a>, או בכל כלי אחר שיהיה לכם נוח עבור המשימה.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">חוקי נרמול</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו ראינו את התהליך המחשבתי ואת השיקולים הבסיסיים שמלווים מתכנת בבניית מסד נתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    צעד אחר צעד ביצענו תהליך שנקרא נרמול של מסד נתונים.<br>
    התהליך אמור לוודא שמבנה מסד הנתונים יהיה בנוי באופן מיטבי:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>שעדכון, מחיקה או הוספת רשומות לא תפגום בשלמות או בתקינות הנתונים במסד הנתונים.</li>
    <li>שיקטן הסיכוי שיהיה צורך בארגון מחדש של מסד הנתונים.</li>
    <li>שמסד הנתונים יהיה קריא ונוח לשימוש עבור המשתמשים בו.</li>
    <li>שאפשר יהיה לבצע שאילתות בקלות על מסד הנתונים, גם לאחר שהוא ישתנה.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למרות שביצענו את הנרמול בעזרת היגיון בריא וקצת משחקים עם טבלאות,<br>
    הנושא של נרמול טבלאות נחקר לעומקו ונדון שוב ושוב בספרות אקדמית משמימה.<br>
    לאורך השנים נוצרו "חוקי נרמול", שמטרתם לתת שיטה טכנית ומדורגת לנרמול של מסדי נתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסקור את חלקם בקצרה:
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">צורה נורמלית ראשונה (1NF)</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    טבלה היא מצורה נורמלית ראשונה אם אין בה נתונים מיותרים או כפולים.<br>
    צורת נרמול זו מכריחה את הטבלה לעמוד בדרישות הבאות:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>יש עמודה עבור מפתח ראשי, כדי למנוע כפילות בשורות.</li>
    <li>כל הנתונים בה עונים להגדרת האי־פריקות במחברת – תא לא יכול להכיל רשימת שחקנים, למשל.</li>
    <li>אין כמה עמודות שמייצגות את אותו ערך – טבלה לא תכיל 2 או יותר עמודות של שמות שחקנים.</li>
    <li>אי אפשר להסיק בוודאות ערך של עמודה מעמודה אחרת – טבלה לא תכיל עמודה ליום הולדת, ועמודה נפרדת לגיל.</li>
</ul>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">צורה נורמלית שנייה (2NF)</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    טבלה היא מצורה נורמלית שנייה אם היא עומדת בצורת הנורמליות הראשונה, <em>וגם</em> כל עמודה בטבלה תלויה בכל עמודות המפתח.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הכלל הזה בעיקרון מתייחס למצבים מורכבים, בהם יש מפתחות ראשיים שמורכבים מ־2 עמודות או יותר (כן, זה אפשרי).<br>
    תוכלו לראות מצב כזה בטבלת <var>principals</var> ב־ERD.<br>
    אם המפתח הראשי שלכם מורכב מעמודה אחת בלבד – מזל טוב, הטבלה שלכם היא מצורה נורמלית שנייה.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם בטבלה שלכם יש מפתח ראשי שמורכב מכמה עמודות,<br>
    הצורה הנורמלית השנייה דורשת שכל אחת מהעמודות שאינן עמודות המפתח, יהיו תלויות בכל עמודות המפתח.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ניקח מצב לדוגמה בו בנינו טבלה שבה יש עמודה למספר הסרט, ועמודה למספר השחקן.<br>
    הגדרנו שהמפתח הראשי הוא שילוב של שתי העמודות הללו.<br>
    טבלה שכזו היא ללא כפילויות, כך שטכנית היא עומדת בצורה הנורמלית הראשונה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אבל אז נוסיף עמודות נוספות לטבלה, כמו שם הסרט, אורך הסרט ושם השחקן.<br>
    אף אחת מהעמודות הללו לא מקיימת את התנאים של הצורה הנורמלית השנייה:<br>
    העמודות של אורך הסרט ושל שם הסרט אינן תלויות בעמודה של מספר השחקן.<br>
    בדיוק באותה מידה, העמודה של שם השחקן לא תלויה בעמודה של מספר הסרט.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כיוון שישנן עמודות שלא מתייחסות לכל המפתח הראשי, הטבלה אינה נחשבת מצורה נורמלית שנייה.<br>
    כדי לתקן את המצב, נצטרך להפריד את הטבלאות ל־2 – לטבלת סרטים ולטבלת שחקנים.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">צורה נורמלית שלישית (3NF)</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    טבלה היא מצורה נורמלית שלישית אם היא עומדת בצורת הנורמליות השנייה, <em>וגם</em> כל עמודה בטבלה לא תלויה בעמודות שאינן עמודות המפתח.<br>
    במילים אחרות: אם ארצה לשנות עמודה מסוימת בטבלה, אסור שזה ישפיע על התוכן של עמודה אחרת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לדוגמה, יצרתי טבלת סרטים שמורכבת ממספר סרט ושמו.<br>
    הוספתי לטבלה שתי עמודות: שחקן וגובה השחקן.<br>
    לאחר שהכנסנו קצת נתונים לטבלה הגיעו לאוזנינו שמועות שאחד השחקנים התפטר, ובמקומו הגיע שחקן חדש.<br>
    שינינו את שמו של השחקן הישן לשחקן החדש, הפלנו את העט וטסנו הביתה לאכול סושי.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מה ששכחנו זה שיש לשחקן גם גובה, ואותו לא עדכנו.<br>
    למעשה בניסיון לעדכון השחקן שברנו את אמינות הנתונים במסד הנתונים שלנו.<br>
    כל זה היה יכול להימנע אם הייתה טבלה נפרדת של שחקנים, ורק הייתי צריך לעדכן בעמודת המפתח הזר את ה־id של השחקן הנכון.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הצורה הנורמלית השלישית, אם כך, דורשת שכל עמודה בטבלה תהיה תלויה במפתח הראשי, ולא באף עמודה אחרת.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">ועוד</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    יש צורות נורמליות נוספות (BCNF, 4NF, 5NF, DKNF, 6NF) עליהן אפשר לקרוא <a href="https://he.wikipedia.org/wiki/%D7%A0%D7%A8%D7%9E%D7%95%D7%9C_%D7%91%D7%A1%D7%99%D7%A1_%D7%A0%D7%AA%D7%95%D7%A0%D7%99%D7%9D">כאן</a>.<br>
    לדעתנו, הדבר החשוב ביותר זה להבין את העקרונות הכלליים, ולא לעקוב שורה שורה אחרי חוקי הנרמול.<br>
    הפרידו סוגים שונים של ישויות לטבלאות, ותמיד חשבו על המשתמש במסד הנתונים.<br>
    כמה קל יהיה לו לתשאל את מסד הנתונים? כמה קל יהיה לו לשנות מידע? האם בעקבות פעולות עדכון המידע עלול להיהרס? 
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">סיכום</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו למדנו להכיר מונחים חשובים בעולם של מסדי נתונים רלציוניים.<br>
    לצד המונחים הבסיסיים שהכרנו, כמו מפתח ראשי, מפתח זר וקשרי גומלין, למדנו ליצור מסד נתונים מנורמל.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ישנה חשיבות רבה ליצירה של מסד נתונים מנורמל היטב.<br>
    מסד נתונים שכזה יהיה גמיש להרחבות עתידיות, יאפשר אחסון ושליפה בצורה יעילה ונוחה ויחסוך תקלות רבות בתפעולו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זכרו שלא צריך לזכור כללי נרמול אקדמיים ומסובכים. מספיק להכיר את הרעיונות הבסיסיים ולהשתמש בהיגיון.<br>
    אם היינו צריכים לבחור כלל אחד לזכור בקשר לנרמול, הוא היה זה:
</p>

<blockquote dir="rtl" style="direction: rtl; text-align: right; float: right; border-right: 5px solid rgba(0,0,0,.05); border-left: 0;">
    הקפידו שכל טבלה במסד הנתונים שלכם (חוץ מהטבלאות המקשרות) תאגד נתונים שקשורים לנושא אחד בלבד,<br>
    ושכל הנתונים בטבלה יתייחסו אך ורק לנושא הזה.<br>
</blockquote>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">This Is How We Do</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתכל'ס , כשאנחנו באים לבנות מסד נתונים, אלו השלבים שאנחנו עוברים:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>לחשוב בגדול על אילו סוגי ישויות הולכים להיות לנו במסד הנתונים. מהם אנחנו יוצרים שמות לטבלאות.</li>
    <li>לחשוב אילו תכונות יהיו לכל אחת מהישויות. מהן אנחנו יוצרים את העמודות בכל טבלה.</li>
    <li>בכל טבלה, עוברים ומסמנים איזו עמודה מזהה באופן חד־חד ערכי את השורות. אם אין כזו, מוסיפים שדה עם מספר רץ.<br>
    זה השדה שמסומן כמפתח ראשי.</li>
    <li>מוסיפים אילוצים: בודקים באילו שדות לא יכול להיות <code>NULL</code>, לדוגמה.<br>
        אם תרצו, קראו גם על <code>UNIQUE</code> ועל <code>CHECK</code>.</li>
    <li>מציירים קשרי גומלין. אם רואים שיש קשר רבים לרבים, בונים טבלה מקשרת.</li>
    <li>מביטים על התרשים ועוברים על כל השלבים מחדש כדי לראות שלא שכחנו משהו והכל נראה טוב.<br>
    אם יש צורך לפרק עמודה או למנוע כפילויות – זה מה שעושים.</li>
</ol>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">מונחים</span>

<dl style="text-align: right; direction: rtl; float: right; clear: both;">
    <dt>נרמול מסד נתונים</dt>
    <dd>
        באנגלית: <dfn>Database normalization</dfn>.<br>
        סידור מבנה מסד הנתונים באופן מיטבי, שיאפשר גמישות וימזער סיכונים לטעויות ואובדן מידע.
    </dd>
    <dt>אי־פריקות</dt>
    <dd>
        באנגלית: <dfn>Atomic data</dfn>.<br>
        הרעיון לפיו כל תא במסד הנתונים צריך להיות מורכב ממידע שאי אפשר לפרקו לחלקים קטנים יותר.
    </dd>
    <dt>חֲרִיגוּת</dt>
    <dd>
        באנגלית: <dfn>Anomaly</dfn>.<br>
        תקלה שנגרמת כתופעת לוואי של פעולת עדכון, הוספה או הסרה של מידע, במסד נתונים לא מנורמל דיו.<br>
        <dfn>חריגות מחיקה</dfn>, לדוגמה, היא תופעה שנגרמת ממחיקת ישות אחת שבעקבותיה נעלמת ישות אחרת.
    </dd>
    <dt>אילוץ</dt>
    <dd>
        באנגלית: <dfn>Constraint</dfn>.<br>
        חוקים שנאכפים על המידע שמוזן לעמודה, ומגבילים את המידע שאפשר להכניס לתוכה.<br>
        האילוץ <code>UNIQUE</code>, לדוגמה, אוסר על ערך להופיע פעמיים בעמודה. <code>NOT NULL</code> לא מאפשר לערך שמוזן לעמודה להיות <code>NULL</code>.
    </dd>
    <dt>קשר גומלין</dt>
    <dd>
        באנגלית: <dfn>Relationship</dfn>.<br>
        חיבור רעיוני בין עמודות בבסיס הנתונים, שמראה על קשר בין עמודה אחת לאחרת.<br>
        החיבור מאפשר למסד הנתונים לשפר ביצועים, ולוודא שנתונים שהוכנסו בשדה מסוים קיימים בשדה אחר.<br>
        לדוגמה: קשר שהוגדר בין טבלת סרטים לבין טבלת שחקנים, יוודא ביצירת סרט השחקנים שהוזנו אכן קיימים במסד הנתונים..<br>
        קשר יכול להיות יחיד ליחיד, יחיד לרבים או רבים לרבים.
    </dd>
    <dt>מפתח ראשי</dt>
    <dd>
        באנגלית: <dfn>Primary key</dfn>.<br>
        עמודה (או מספר עמודות) שמזהות את הישות שבטבלה באופן חד־חד ערכי.<br>
        לרוב, המפתח הראשי הוא מספר טבעי רץ – 1 עבור הישות הראשונה בטבלה, 2 עבור הישות השנייה וכן הלאה.
    </dd>
    <dt>מפתח זר</dt>
    <dd>
        באנגלית: <dfn>Foreign key</dfn>.<br>
        עמודה שבה הערכים מתייחסים לישות מטבלה אחרת, באמצעות ציון הערכים במפתח הראשי של אותה טבלה.<br>
    </dd>
</dl>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגילים</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגילים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    צרו ERD מלא למערכת הגשת התרגילים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ה־ERD צריך להתחשב בכך שמסד הנתונים אמור להכיל את הנתונים הבאים:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>משתמשים, להם יש שם משתמש, סיסמה, שם מלא, כתובת דוא"ל ותפקיד – שיכול להיות סטודנט, מדריך או מנהל.</li>
    <li>התראות, להן יש נמען (מי שקיבל את ההתראה), תאריך יצירה, תוכן ההתראה, תרגיל קשור ומצב (נצפתה או חדשה).</li>
    <li>תרגיל, לו יש כותרת, תאריך שנוצר, האם הוא פעיל או בארכיון, תאריך הגשה אחרון ומספר מחברת.</li>
    <li>פתרון שנשלח, לו יש את הפותר, התרגיל, הבודק, המצב (לא הוגש, הוגש או נבדק) ותאריך ההגשה.<br>
        בכל פתרון יש קובץ אחד או יותר, שכולל את הנתיב לקובץ ואת הקוד של הפיתרון.</li>
    <li>הערה על שורה מסוימת בקובץ של הגשה מסוימת. לכל תגובה יש את שולח התגובה, תאריך ותוכן.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לצורך יצירת ה־ERD תוכלו להשתמש ב־<a href="https://vuerd.github.io/vuerd/?path=/story/demo--live">vuerd</a>, או בכל כלי אחר שתמצאו שנוח לכם.
</p>