<img src="images/logo.jpg" style="display: block; margin-left: auto; margin-right: auto;" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם חינמי ללימוד תכנות בעברית.">

# <span style="text-align: right; direction: rtl; float: right;">כתיבת שאילתות אגרגטיביות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כה למדנו על הפסוקיות <code>SELECT</code>, <code>FROM</code>, <code>WHERE</code>, <code>ORDER BY</code>, ו־<code>LIMIT</code>, ועל סדר הרצתם על ידי מנוע ה־SQL.<br>
    דיברנו על אופרטורי השוואה, אופרטורים לוגיים, על <code>NULL</code> ועל טיפול בכפילויות בעזרת מילת המפתח <code>DISTINCT</code>.<br>
    גילינו גם על פונקציות במסדי נתונים, ועל איך הן מאפשרות לנו לעבד את התוצאות ולהחזיר תוצאות שנוח יותר לעבוד איתן.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במחברת זו נלמד:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>כיצד אפשר לבצע חישובים על ערכים משורות שונות.</li>
    <li>כיצד אפשר לקבץ ישויות ולבצע חישובים בין הישויות בכל קבוצה.</li>
    <li>כיצד לסנן תוצאות לפי תוצאות הקיבוץ.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בואו נתחיל!
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">פונקציות אגרגטיביות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    <dfn>פונקציות אגרגטיביות</dfn> (באנגלית: <dfn>Aggregate functions</dfn>) הן פונקציות שפועלות על כמה שורות יחד, ומחזירות מהן ערך יחיד.<br>
    הן מוכרות בעברית גם בשמות פונקציות צבירה, פונקציות קבוצה ופונקציות קיבוציות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הנה כמה דוגמאות למקרים שבהם פונקציות אגרגטיביות יכולות לסייע לנו:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>למצוא את ממוצע הציונים בכיתה מתוך טבלה שבה כל רשומה היא ציון של מבחן.</li>
    <li>למצוא את הסכום המירבי שלקוח שילם במסעדה, מתוך טבלה של הזמנות במסעדה.</li>
    <li>למצוא את המוצר הזול ביותר בעגלת הקניות שלי, מתוך טבלה שמכילה את המוצרים שנמצאים בעגלה.</li>
    <li>למצוא כמה לקוחות קונים בחנות שלי, מתוך טבלה שמכילה את פרטי הלקוחות בחנות.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כה עבדנו עם <dfn>פונקציות סקלריות</dfn> – פונקציות שמקבלות רשימה של נתונים, ועבור כל איבר ברשימה מחזירות ערך.<br>
    פונקציות אגרגטיביות הן פונקציות שמקבלות נתונים – ומחזירות תוצאה אחת.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ניקח לדוגמה את הפונקציה "קבל מספר, ותחזיר את אותו מספר בחזקת שתיים".<br>
    זוהי פונקציה סקלרית שבהינתן הנתונים 1, 2 ו־3 תחזיר 1, 4 ו־9 בהתאמה.<br>
    שיעור שעבר למדנו על הפונקציה הסקלרית <code>round</code>, לדוגמה, שמקבלת מספר ומעגלת אותו.<br>
    עבור הנתונים 3.1, 3.4 ו־3.7 היא תחזיר 3, 3 ו־4 בהתאמה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פונקציות אגרגטיביות, כאמור, מקבלות רשימה של נתונים ומחזירות תוצאה אחת.<br>
    הפונקציה "קבל מספרים והחזר את סכומם", לדוגמה, היא פונקציה אגרגטיבית, שבהינתן הנתונים 1, 2 ו־3 תחזיר 6.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ננסה להבין, לדוגמה, מה הדירוג הממוצע של סרט במסד הנתונים שלנו.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוכל להשתמש בפונקציה האגרגטיבית <code>AVG</code>, שמקבלת קבוצת נתונים (במקרה שלנו: עמודה).<br>
    הפונקציה תחזיר את ממוצע הערכים שאינם <code>NULL</code> באותה קבוצת נתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נבקש מהפונקציה לפעול על עמודת הציונים, <var>avg_vote</var>, בטבלת <var>movies</var>.<br>
    הפונקציה תחזיר ערך יחיד: מה הציון הממוצע של סרט במסד הנתונים.
</p>

```sql
SELECT AVG(avg_vote)
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם הרצתם את השאילתה על מסד הנתונים שלכם, קיבלתם שורה אחת, בה יש ערך שקרוב ל־<samp>5.9</samp>.<br>
    זהו הדירוג הממוצע של סרט במסד הנתונים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פונקציות אגרגטיביות זכו <a href="https://sqlite.org/lang_aggfunc.html">לדף משלהם</a> בתיעוד של SQLite.<br>
    אתם עשויים לראות לעיתים קרובות שימוש בפונקציות <span dir="rtl" style="direction: rtl;"><code>SUM</code>, <code>MIN</code>, <code>MAX</code>, <code>COUNT</code></span> ו־<code>AVG</code>.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            נסו לגלות כמה ערכי <code>NULL</code> נמצאים בעמודה <var>budget</var> שבטבלת <var>movies</var>.<br>
            השתמשו בתיעוד.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הפונקציה <code>COUNT</code>, לדוגמה, מאפשרת לנו לספור כמה ישויות קיימות בטבלה מסוימת.<br>
    נבדוק כמה סרטים קיימים לנו במסד הנתונים:
</p>

```sql
SELECT COUNT(*)
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב ש־<code>COUNT</code> לא סופרת ערכי <code>NULL</code>,<br>
    כך שאם נעביר לה כארגומנט עמודה מסוימת, נראה כמה ערכים שאינם <code>NULL</code> קיימים בעמודה.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נראה לדוגמה כמה ערכים של תקציבי סרטים קיימים במסד הנתונים.<br>
    נשתמש בפונקציה <code>COUNT</code> על העמודה <var>budget</var> בטבלת <var>movies</var>:
</p>

```sql
SELECT COUNT(budget)
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להבין כמה ערכים הם <code>NULL</code> בעמודה הזו, נוכל לבצע חיסור פשוט.<br>
    נחסר בין כמות הערכים בטבלה לבין כמות הערכים שאינם <code>NULL</code>:
</p>

```sql
SELECT COUNT(*) - COUNT(budget)
FROM movies;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כמו שראינו, פונקציות אגרגטיביות פועלות על כל השורות הקיימות, ומחזירות לנו תוצאה אחת.<br>
    אפשר לדמיין את הפעולה שלהן כמעין מעיכה של כל השורות כדי להשיג תוצאה יחידה.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: אם הרחקתי ראות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    האם הגבהים במסד הנתונים שלנו אמינים?<br>
    אם כן, הרי שממוצע הגבהים של אנשים עד גיל 18 יהיה נמוך מהממוצע של שאר האנשים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כתבו שאילתה שתציג את ממוצע הגבהים של אנשים עד גיל 18, ושאילתה נוספת שתציג את ממוצע הגבהים של אנשים מגיל 18 ומעלה.<br>
    האם ממוצע הגבהים במסד הנתונים אמין?
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">הפסוקית <code>GROUP BY</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כשנבצע מחקר על הנתונים, פעמים רבות נרצה לשאול שאלות על קבוצות של נתונים.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">דוגמה – משקלי פירות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נראה דוגמה חיה על רשימת נתונים קטנה.<br>
    לפנינו טבלה שבה פירות ומשקלם:<br>
</p>

<table style="text-align: right; direction: rtl; clear: both; font-size: 1.3rem">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">דוגמה  לטבלת פירות</caption>
    <thead>
        <tr>
            <th>מספר סידור (<var>id</var>)</th>
            <th>סוג הפרי (<var>fruit_type</var>)</th>
            <th>משקל (<var>weight</var>)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>תפוח</td>
            <td>150</td>
        </tr>
        <tr>
            <td>2</td>
            <td>מנגו</td>
            <td>540</td>
        </tr>
        <tr>
            <td>3</td>
            <td>תפוח</td>
            <td>170</td>
        </tr>
        <tr>
            <td>4</td>
            <td>תפוח</td>
            <td>140</td>
        </tr>
        <tr>
            <td>5</td>
            <td>מנגו</td>
            <td>460</td>
        </tr>
        <tr>
            <td>6</td>
            <td>תות</td>
            <td>25</td>
        </tr>
        <tr>
            <td>7</td>
            <td>תפוח</td>
            <td>150</td>
        </tr>
        <tr>
            <td>8</td>
            <td>תות</td>
            <td>15</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם נרצה לקבל מה משקל התותים שקטפנו, נוכל לעשות את זה יחסית בקלות:
</p>

```sql
SELECT SUM(weight) AS strawberries_weight
FROM fruits  -- שם הטבלה
WHERE fruit_type = 'תות';
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאה תהיה עמודה בשם <var>strawberries_weight</var> שבה יש ערך אחד – 40, הרי הוא סכום משקלי התותים בטבלה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בטבלת הדוגמה למעלה אפשר לראות 3 סוגי פירות: תפוח, מנגו ותות.<br>
    מה אם נרצה לקבל את הסכום של משקלי <em>כל אחד</em> מסוגי הפירות?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בכלים שיש לנו כרגע, אין לנו דרך לכתוב שאילתה שכזו.<br>
    נצטרך לעבור על כל אחד מסוגי הפירות וליצור עבורם שאילתה דומה לזו שעשינו עבור התות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לו היינו רוצים לפתור את הבעיה באופן ידני, היינו ניגשים אליה כך:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>נחליט על פי איזו תכונה (עמודה) אנחנו מחלקים את הערכים לקבוצות – במקרה שלנו סוג הפרי.</li>
    <li>נחליט מה מעניין אותנו לחשב – איזו תכונה מעניינת אותנו, ואיזו פעולה נרצה לעשות עליה. לדוגמה: סכום, על עמודת המשקל.</li>
    <li>נבצע את הפעולה על כל אחת מהקבוצות בנפרד.</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נקבץ את הפירות בטבלה לפי סוג הפרי:
</p>

<table style="text-align: right; direction: rtl; clear: both; font-size: 1.3rem">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">דוגמה  לטבלת פירות, מקובצת לפי סוג הפרי</caption>
    <thead>
        <tr>
            <th>מספר סידור (<var>id</var>)</th>
            <th>סוג הפרי (<var>fruit_type</var>)</th>
            <th>משקל (<var>weight</var>)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #66CC33;">
            <td>1</td>
            <td>תפוח</td>
            <td>150</td>
        </tr>
        <tr style="background-color: #ffc324; text-decoration: overline;">
            <td>2</td>
            <td>מנגו</td>
            <td>540</td>
        </tr>
        <tr style="background-color: #66CC33;">
            <td>3</td>
            <td>תפוח</td>
            <td>170</td>
        </tr>
        <tr style="background-color: #66CC33;">
            <td>4</td>
            <td>תפוח</td>
            <td>140</td>
        </tr>
        <tr style="background-color: #ffc324; text-decoration: overline;">
            <td>5</td>
            <td>מנגו</td>
            <td>460</td>
        </tr>
        <tr style="background-color: #fc5a8d; text-decoration: underline;">
            <td>6</td>
            <td>תות</td>
            <td>25</td>
        </tr>
        <tr style="background-color: #66CC33;">
            <td>7</td>
            <td>תפוח</td>
            <td>150</td>
        </tr>
        <tr style="background-color: #fc5a8d; text-decoration: underline;">
            <td>8</td>
            <td>תות</td>
            <td>15</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    תוכלו לדמיין ששמנו את כל אחד מהפירות בדלי שמתאים לסוג שלו.<br>
    כעת ברשותינו דלי תותים, דלי מנגו ודלי תפוחים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נחליט שמעניין אותנו לחשב את סכום (<code>SUM</code>) המשקלים (<var>weight</var>).
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להגיע לתוצאה, נפעיל את הפונקציה (<code>SUM</code>) על כל אחת מהקבוצות:
</p>

<table style="text-align: right; direction: rtl; clear: both; font-size: 1.3rem">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">משקל לפי סוג פרי</caption>
    <thead>
        <tr>
            <th>סוג הפרי (<var>fruit_type</var>)</th>
            <th>סכום המשקלים (<var>weights_sum</var>)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #66CC33;">
            <td>תפוח</td>
            <td>610</td>
        </tr>
        <tr style="background-color: #ffc324; text-decoration: overline;">
            <td>מנגו</td>
            <td>1000</td>
        </tr>
        <tr style="background-color: #fc5a8d; text-decoration: underline;">
            <td>תות</td>
            <td>40</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הכל טוב ויפה, אבל איך ניגש לבעיה ב־SQL?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    למזלנו, הפסוקית <code>GROUP BY</code> קיימת בדיוק בשביל המטרה הזו.<br>
    בשאילתה, הפסוקית הזו תאפשר לנו לקבץ ערכים לפי עמודה מסוימת.<br>
    זה יראה כך:
</p>

```sql
GROUP BY fruit_type
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זה למעשה החלק בשאילתה ש"צובע לנו את הטבלה" בצורה שראינו למעלה.<br>
    ה"צביעה" או "החלוקה לדליים" שראיתם למעלה – זה בדיוק מה שהפסוקית הזו עושה בפועל.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נעבור לשאילתה המלאה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    זכרו את השלבים:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>מחליטים על העמודה שמחלקת לקבוצות – <var>fruit_type</var>.</li>
    <li>מחליטים על מה רוצים לעשות עם הקבוצות שנוצרו – סכום (<code>SUM</code>) על המשקלים (<var>weights</var>).</li>
</ol>

```sql
SELECT fruit_type, SUM(weights) AS weights_sum
FROM fruits
GROUP BY fruit_type;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאה תהיה 3 שורות של סכום המשקלים של כל סוג פרי.<br>
    דוגמה לתוצאה כזו היא הטבלה הצבועה האחרונה שראיתם.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חשוב להבין שכשכתבנו <code>GROUP BY</code> בשאילתה שלנו, שינינו לחלוטין את הצורה בה השאילתה עובדת.<br>
    במקום ש־<code>SELECT</code> תפעל על כל אחת מהשורות,<br>
    היא עוברת למצב שבו היא פועלת על קבוצות – אותן קבוצות צבעוניות שראינו למעלה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פסוקית ה־<code>GROUP BY</code> יוצרת את אותן קבוצות,<br>
    ואז פסוקית ה־<code>SELECT</code> עוברת על קבוצה אחת בכל פעם (במקום על שורה אחת בכל פעם), ומחזירה עבור כל קבוצה תוצאה אחת.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">כמות הסרטים שיצאו בכל שנה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    באותו אופן שבו היה לנו קל לענות על משקל התותים בטבלה שלנו,<br>
    יהיה לנו קל לענות על השאלה "כמה סרטים יצאו בשנת 1990":
</p>

```sql
SELECT COUNT(*)
FROM movies
WHERE "year" = 1990;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אבל האם תוכלו לכתוב שאילתה שתחזיר את כמות הסרטים שיצאו בכל שנה שקיימת במסד הנתונים?
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 70%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            נסו לכתוב שאילתה שתציג כמה סרטים יצאו בכל שנה.<br>
            בתוצאות השאילתה שתכתבו אמורה להיות רשומה עבור כל אחת מהשנים שקיימות במסד הנתונים.
        </p>
    </div>
    <div style="display: flex; width: 20%; border-right: 0.1rem solid #A5A5A5; padding: 1rem 2rem;">
        <p style="text-align: center; direction: rtl; justify-content: center; align-items: center; clear: both;">
            <strong>חשוב!</strong><br>
            פתרו לפני שתמשיכו!
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נוכל לשאול את אותה שאלה בקלות גם עבור 1991 ו־1992.<br>
    למרות שזה בהחלט אפשרי לעבור שנה שנה, זו עשויה להיות משימה מעט מעייפת.<br>
    אילו רק הייתה דרך לקבץ את הסרטים לפי השנים, ואז לספור כמה סרטים יש בכל קבוצה...
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נכתוב את השאילתה בעזרת פסוקית ה־<code>GROUP BY</code>, כמו שלמדנו:
</p>

```sql
SELECT "year", COUNT(*) AS movie_count
FROM movies
GROUP BY "year";
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשאילתה הזו ביקשנו:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>חלק את השורות לקבוצות לפי הערכים בעמודת <var>year</var>.</li>
    <li>עבור כל קבוצה שכזו, שמורכבת מכל השורות שבהן מופיעה שנה מסוימת, בדוק כמה איברים היא כוללת.</li>
    <li>החזר את השנה ואת כמות האיברים שקובצו על פי אותה שנה.</li>
</ol>

<div class="align-center" style="display: flex; text-align: right; direction: rtl; clear: both;">
    <div style="display: flex; width: 10%; float: right; clear: both;">
        <img src="images/exercise.svg" style="height: 50px !important;" alt="תרגול"> 
    </div>
    <div style="width: 100%">
        <p style="text-align: right; direction: rtl; float: right; clear: both;">
            המציאו נתונים משל עצמכם, וחישבו על מקומות שבהם הייתם יכולים לנצל את הכוח של פסוקית <code>GROUP BY</code>.<br>
            נסו לחשוב לפחות על 4 דוגמאות.
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הנה הפתרון שלנו:
</p>

<table style="text-align: right; direction: rtl; clear: both; font-size: 1.3rem">
    <caption style="text-align: center; direction: rtl; clear: both; font-size: 2rem; padding-bottom: 2rem;">דוגמאות לשאלות חקר שאפשר לענות עליהן באמצעות חישוב על קבוצה</caption>
    <thead>
        <tr>
            <th>תיאור הנתונים</th>
            <th>שאלת החקר</th>
            <th>השדה שלפיו נחלק לקבוצות</th>
            <th>הפונקציה האגרגטיבית</th>
            <th>השדה שעליו נפעיל חישוב</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>טבלת פירות בה ישות היא סוג הפרי, משקלו ותמונה שלו.</td>
            <td>מה המשקל הממוצע של כל סוג פרי שיש לנו במסד הנתונים?</td>
            <td>סוג הפרי (תפוח, אשכולית, בננה)</td>
            <td>ממוצע (<code>AVG</code>)</td>
            <td>משקל</td>
        </tr>
        <tr>
            <td>טבלת ספרים בה ישות היא שמם, הסוגה (הז'אנר) שלהם ומספר הדפים בכל ספר.</td>
            <td>מהו הספר בעל מספר העמודים המירבי מכל סוגה (ז'אנר)?</td>
            <td>הסוגה של הספר</td>
            <td>מקסימום (<code>MAX</code>)</td>
            <td>מספר העמודים</td>
        </tr>
        <tr>
            <td>טבלת עובדים בה ישות היא שמם, המשכורת שלהם והמחלקה בה הם עובדים.</td>
            <td>כמה משכורות אנחנו משלמים עבור מחלקה בעסק שלנו?</td>
            <td>מחלקת העובד</td>
            <td>סכום (<code>SUM</code>)</td>
            <td>שכר</td>
        </tr>
        <tr>
            <td>טבלת סרטים בה ישות היא שם הסרט, תאריך שחרורו לאקרנים, ציון ממוצע לסרט ומספר מדרגים.</td>
            <td>עבור כל שנה, מה הציון הממוצע של הסרטים ששוחררו בה?</td>
            <td>שנת שחרור</td>
            <td>ממוצע (<code>AVG</code>)</td>
            <td>ציון</td>
        </tr>
    </tbody>
</table>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נסבך את השאילתה, הפעם רק במעט.<br>
    נבקש לקבל רק שנים שבהן נכנס הפסקול לסרטים (1927 והלאה).<br>
    נסדר אותם לפי כמות הסרטים בסדר יורד, ונבקש לקבל רק עד 5 תוצאות.
</p>

```sql
SELECT "year", COUNT(*) AS movie_count
FROM movies
WHERE "year" >= 1927
GROUP BY "year"
ORDER BY movie_count DESC
LIMIT 5;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    מהשאילתה למעלה אנחנו למדים שפסוקית <code>GROUP BY</code> מגיעה אחרי <code>WHERE</code> ולפני <code>ORDER BY</code>.<br>
    אבל מהו הסדר לפיו מנוע ה־SQL מריץ את הפסוקיות בשאילתה?
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">סדר הרצה</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עכשיו, כשאנחנו יודעים איך נראית שאילתה שבנויה מכל הפסוקיות שלמדנו,<br>
    נרענן את סדר הרצת הפסוקיות במנוע ה־SQL:
</p>

<figure>
    <img src="images/clause-execution-order-3.svg?v=1" style="margin-right: auto; margin-left: auto; text-align: center;" alt="בתמונה: שאילתה שבנויה מ־6 פסוקיות: SELECT, FROM, WHERE, ORDER BY, GROUP BY ו־LIMIT. משמאל למילה FROM מופיע עיגול עם הספרה 1, משמאל למילה WHERE מופיע עיגול עם הספרה 2, משמאל למילה GROUP BY מופיע עיגול עם הספרה 3, משמאל למילה SELECT מופיע עיגול עם הספרה 4, משמאל למילה 5 מופיע עיגול עם המילים ORDER BY ומשמאל ל־LIMIT מופיע עיגול עם המילה 6."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        איור שממחיש את סדר הרצת הפסוקיות בשאילתת SQL שמבצע מנוע ה־SQL על מסד הנתונים.
    </figcaption>
</figure>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כמו שאפשר לראות באיור שלמעלה, פסוקית ה־<code>GROUP BY</code> נקראת על ידי מסד הנתונים מייד לפני קריאת פסוקית ה־<code>SELECT</code>.<br>
    הסדר הזה נקבע כדי לאפשר לפסוקית ה־<code>SELECT</code> להפעיל פונקציות אגרגטיביות על הקבוצות שנוצרו על ידי פסוקית ה־<code>GROUP BY</code>.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: לזכור את הטיטאנים</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    רבים טוענים שיש לנו נטייה לייפות את העבר, ולכן דירוגם הממוצע של סרטים ישנים גבוה יותר.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בדקו את הטענה.<br>
    כתבו שאילתה שתוצאתה היא הדירוג הממוצע של סרטים לפי שנה.<br>
    כיוון שיש יחסית מעט דירוגים עבור סרטים ישנים מאוד, כללו רק סרטים שיצאו בשנת 1924 או אחריה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עבור כל שנה, עגלו את הציון הממוצע שמצאתם ל־2 ספרות אחרי הנקודה.<br> 
    סדרו את תוצאות השאילתה לפי הדירוג הממוצע באותה שנה כך שהדירוג הגבוה ביותר יופיע ראשון.<br>
    אם יש 2 דירוגים זהים, הציגו קודם את השנה המוקדמת מביניהן. 
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הציצו על התוצאות, ושערו בעצמכם אם אפשר להגיד שסרטים ישנים יותר מדורגים גבוה יותר.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">המגבלה של פונקציות אגרגטיביות</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    ישנה בעיה נפוצה למדי עם <code>GROUP BY</code> ועם פונקציות אגרגטיביות, שתקפוץ עליכם די מהר אחרי שתשתמשו בהן מספיק.<br>
    חשוב להבין למה היא מתרחשת וכיצד אפשר להתמודד איתה.<br>
    נסו לחשוב בעצמכם על מה עלול להשתבש בשאילתה הבאה:
</p>

```sql
SELECT "year", COUNT(*) AS movie_count, title
FROM movies
GROUP BY "year";
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השאילתה האחרונה ביקשה לקבץ את הסרטים לפי שנה, ועבור כל שנה – להחזיר:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>את השנה עצמה.</li>
    <li>את כמות הסרטים ששוחררו באותה שנה.</li>
    <li>את כותרת הסרט(?)</li>
</ol>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    במצב האגרגטיבי שבו אנחנו נמצאים, <code>COUNT</code> הולכת למעוך מספר ישויות לכדי שורה אחת ויחידה.<br>
    במקרה הזה, אין משמעות לאחזור "כותרת הסרט" – אנחנו פועלים על קבוצת סרטים, מספר רשומות.<br>
    אין סרט אחד שאפשר להתייחס אליו ולשלוף את הכותרת שלו.
</p>

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="images/warning.png" style="height: 50px !important;" alt="אזהרה!"> 
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            SQLite רחמן ומחזיר תשובה חסרת פשר.<br>
            רוב המנועים של מסדי הנתונים האחרים יתריעו על חריגה ויכשילו את השאילתה.
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לכן, כלל האצבע הוא כזה:<br>
    בשאילתה שבה יש פסוקית <code>GROUP BY</code>, העמודות בפסוקית ה־<code>SELECT</code> חייבות:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li><em>או</em> להופיע בפסוקית ה־<code>GROUP BY</code>.</li>
    <li><em>או</em> להיות עמודות מחושבות שנוצרו בעזרת פונקציות אגרגטיביות.</li>
</ul>

### <span style="text-align: right; direction: rtl; float: right; clear: both;"><code>GROUP BY</code> על יותר מעמודה אחת</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הנה תרגיל מעט מאתגר, שתוכלו לנסות לפתור לפני שתמשיכו:
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עבור כל שנה, הציגו את כל הדירוגים שסרטים קיבלו באותה שנה.<br>
    ליד כל דירוג, כמה סרטים דורגו כך באותה שנה.<br>
    כלומר, כל שורה בתוצאת השאילתה צריכה להיות מורכבת מ:
</p>

<ul style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>שנה – השנה בה עלה הסרט לאקרנים. לדוגמה: 1913.</li>
    <li>דירוג – מספר עשרוני בין 1 ל־10 שמייצג דירוג שהופיע באותה שנה בטבלת הסרטים. לדוגמה: 6.6.</li>
    <li>כמות סרטים מתאימים – מספר הסרטים שקיבלו בדיוק את הדירוג הזה, בשנה הזו. לדוגמה: 2.</li>
</ul>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם לא היה אף סרט שקיבל דירוג מסוים בשנה מסוימת, מהשאילתה לא תחזור ישות שמכילה את השנה והדירוג הללו.<br>
    השתמשו ביצירתיות שלכם – הפתרון פשוט, אבל לא למדנו את הטכניקה הזו והיא דורשת מעט אינטואיציה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך נראות 21 השורות הראשונות שחזרו מפתרון התרגיל:
</p>

year|avg_vote|times_rating_appeared|
----|--------|---------------------|
1894|5.9     |                    1|
1906|6.1     |                    1|
1911|5.7     |                    1|
1911|5.8     |                    1|
1911|6.0     |                    1|
1911|6.2     |                    1|
1911|7.0     |                    1|
1912|5.2     |                    1|
1912|5.5     |                    1|
1912|5.7     |                    1|
1912|6.7     |                    1|
1912|6.8     |                    1|
1913|5.0     |                    1|
1913|6.0     |                    1|
1913|6.2     |                    2|
1913|6.4     |                    1|
1913|6.5     |                    1|
1913|6.6     |                    2|
1913|7.0     |                    3|
1913|7.1     |                    1|
1913|7.5     |                    1|

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השאלה למעלה מלמדת אותנו על היכולת של <code>GROUP BY</code> לעבוד על כמה עמודות יחד.<br>
    הפעם, הקבוצות שאנחנו רוצים ליצור הן לא לפי עמודה אחת (רק שנה, או רק דירוג).<br>
    כל קבוצה שניצור תורכב מ<em>שילוב</em> של כמה עמודות. במקרה שלנו – <em>גם</em> השנה, ו<em>גם</em> הדירוג.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עם קצת יצירתיות והכלים שלמדתם, נפריד את השדות ב־<code>GROUP BY</code> בפסיק כדי להשיג את התוצאה:<br>
</p>

```sql
SELECT "year", avg_vote, COUNT(*) AS times_rating_appeared
FROM movies
GROUP BY "year", avg_vote
ORDER BY "year", avg_vote;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    שימו לב שהשאילתה <em>לא</em> יוצרת קבוצה אחת ל־<var>year</var> וקבוצה אחת ל־<var>avg_vote</var>.<br>
    היא יוצרת קבוצה לכל שילוב קיים בין <var>year</var> לבין <var>avg_vote</var>.<br>
    תוכלו לדמיין שנוצר tuple שמורכב מכל העמודות ששמם צוין אחרי פסוקית ה־<code>GROUP BY</code>.<br>
    הקבוצות חולקו לפי ה־tuple הזה.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;"><code>GROUP BY</code> לפי ביטוי</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    תעלול נחמד שלא מובן מאליו שיעבוד, הוא חלוקה לקבוצות לפי ביטוי שיצרנו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בתור התחלה, נספור כמה סרטים קיימים במסד הנתונים עבור כל דירוג אפשרי:
</p>

```sql
SELECT avg_vote, COUNT(*)
FROM movies
GROUP BY avg_vote;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השאילתה למעלה החזירה את כל הדירוגים האפשריים, וכמה סרטים תואמים לכל אחד מאותם דירוגים.<br>
    הייתי משתף איתכם את תוצאות השאילתה, אבל חזרו 89 שורות, מ־1.0 ועד 9.9. ארוך ומשעמם!
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי לקבל מידע שיהיה לנו יותר קל לעכל, בואו נעגל את הדירוג של כל סרט למספר שלם.<br>
    כך במקום שהדירוג של כל סרט ינוע בין 1.0 ל־9.9 (89 אפשרויות), הוא יהיה בטווח שבין 1 ל־10 (10 אפשרויות).<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    החדשות המשמחות הן שאנחנו יכולים לקבץ את התוצאות לפי הערך המעוגל!<br>
    נעשה זאת כך:
</p>

```sql
SELECT round(avg_vote) AS rating,
       COUNT(*) AS rated_movies
FROM movies
GROUP BY round(avg_vote);
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    השאילתה הזו החזירה לנו 10 שורות כשבכל שורה מופיע דירוג מ־1 עד 10.<br>
    לצד הדירוג בכל אחת מהשורות, מופיעה כמות הסרטים שהדירוג המעוגל שלהם תואם לדירוג שמופיע באותה שורה. 
</p>

rating|rated_movies|
------|------------|
   1.0|         107|
   2.0|         885|
   3.0|        3039|
   4.0|        7025|
   5.0|       14866|
   6.0|       28367|
   7.0|       25894|
   8.0|        5308|
   9.0|         354|
  10.0|          10|

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להגיע לתוצאה הזו, יצרנו סוג של עמודה מחושבת בפסוקית ה־<code>GROUP BY</code>.<br>
    כמו שאתם רואים, אנחנו יכולים להשתמש בביטוי מפסוקית ה־<code>GROUP BY</code>, בתוך פסוקית ה־<code>SELECT</code>. איזו הקלה!
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגיל ביניים: חוק בנפורד</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    חוק בנפורד, בהגדרה גסה, הוא חוק שמנבא את שכיחות הספרה השמאלית ביותר במספר, בהינתן אוסף נתונים גדול מספיק.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    לפי החוק, ככל שספרה בטווח 1–9 היא נמוכה יותר, יש לה יותר סיכוי להופיע בתור הספרה השמאלית ביותר במספר כלשהו.<br>
    כלומר, הספרה 1 תופיע בתדירות הגבוהה ביותר כספרה השמאלית במספרים.<br>
    לפי אותו חוק, הספרה 2 תופיע כספרה השמאלית ביותר במספרים בתדירות נמוכה משל 1, אך גבוהה משל 3.<br>
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בדקו את הטענה.<br>
    כתבו שאילתה שמתייחסת למספר הפעמים שדירגו כל סרט (עמודת <var>votes</var> בטבלת <var>movies</var>).<br>
    הציגו כמה פעמים כמות הדירוגים מתחילה בספרה 1, כמה פעמים כמות הדירוגים מתחילה בספרה 2 וכך הלאה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הספרה השמאלית ביותר במספר 1,234, לדוגמה, היא 1. הספרה השמאלית ביותר במספר 5 היא 5.<br>
    ודאו שהספרה 1 היא הספרה השמאלית ביותר של 33834 שורות של כמויות דירוג.
</p>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">הפסוקית <code>HAVING</code></span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בשאילתות שבנינו עד כה, ראינו את הכוח האדיר של הפסוקיות השונות – מ־<code>SELECT</code> ועד <code>GROUP BY</code>.<br>
    אחת הפסוקיות השימושיות ביותר הייתה <code>WHERE</code>, שאיפשרה לנו לסנן מהטבלה שורות שלא התאימו לצרכים שלנו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אם נציץ בסדר ההרצה של הפסוקיות באיור הצבעוני שמופיע מעלה,<br>
    נגלה שפסוקית ה־<code>WHERE</code> מורצת לפני פסוקית ה־<code>GROUP BY</code>.<br>
    מצליחים לזהות אילו בעיות הסדר הזה עלול להביא איתו?
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פסוקית ה־<code>WHERE</code> תעבוד מצוין כשנרצה לסנן שורות לפני שאנחנו מקבצים אותן,<br>
    אבל לא תוכל לעזור לנו בסינון התוצאות שהוחזרו <em>אחרי</em> הקיבוץ והאגרגציה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נראה דוגמה.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נניח שנרצה לספור כמה סרטים טובים יצאו בכל שנה.<br>
    נגדיר "סרט טוב" כסרט שקיבל ציון ממוצע של יותר מ־8.0.<br>
    סדר הפעולות במקרה הזה הוא:
</p>

<ol style="text-align: right; direction: rtl; float: right; clear: both;">
    <li>מתוך טבלת הסרטים – <code dir="ltr" style="direction: ltr;">FROM movies</code>.</li>
    <li>עבור הסרטים שדירוגם הוא יותר מ־8.0 – <code dir="ltr" style="direction: ltr;">WHERE avg_vote > 8.0</code>.</li>
    <li>קבץ לפי שנת הסרט – <code dir="ltr" style="direction: ltr;">GROUP BY "year"</code>.</li>
    <li>והצג את כמות הסרטים בכל קבוצה, כלומר בכל שנה, ליד השנה עצמה – <code dir="ltr" style="direction: ltr;">SELECT "year", COUNT(*)</code>.</li>
</ol>

```sql
SELECT "year", COUNT(*)
FROM movies
WHERE avg_vote > 8.0
GROUP BY "year";
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    עד כאן עסקים כרגיל, והכל עובד כפי שציפינו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אבל מה קורה, נניח, אם נרצה לקבל רק שנים שבהן יש לפחות 10 סרטים טובים?<br>
    אם נתאמץ מאוד, נגיע לשאילתה השגויה הבאה:
</p>

```sql
-- !זהירות, זו שאילתה שלא תעבוד
SELECT "year", COUNT(*)
FROM movies
WHERE avg_vote > 8.0
      AND COUNT(*) >= 10
GROUP BY "year";
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כמובן שזה לא יעבוד!<br>
    פסוקית ה־<code>WHERE</code> רצה לפני <code>GROUP BY</code> ולפני <code>SELECT</code>,<br>
    כך שכשמנוע ה־SQL מריץ את פסוקית ה־<code>WHERE</code> הוא כלל לא יודע שקיבצנו את הטבלה לקבוצות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כדי להתגבר על הבעיה הזו, יצרו ב־SQL את פסוקית ה־<code>HAVING</code>.<br>
    היא פועלת בדיוק כמו פסוקית ה־<code>WHERE</code>, רק שהיא מסננת תוצאות <em>אחרי</em> ה־<code>GROUP BY</code>.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    נתקן את השאילתה התקולה.<br>
    נעביר את תנאי הסינון שנסמך על ה־<code>GROUP BY</code> לפסוקית ה־<code>HAVING</code>:
</p>

```sql
SELECT "year", COUNT(*)
FROM movies
WHERE avg_vote > 8.0
GROUP BY "year"
HAVING COUNT(*) >= 10;
```

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    אפשר לסכם ולהגיד:<br>
    פסוקית ה־<code>HAVING</code> מאפשרת לנו להוסיף לשאילתה סינון לפי פונקציות אגרגטיביות.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    גם מבחינת מיקום בשאילתה וגם מבחינת סדר הרצה,<br>
    פסוקית ה־<code>HAVING</code> תבוא מייד אחרי פסוקית ה־<code>GROUP BY</code>:
</p>

<figure>
    <img src="images/clause-execution-order-4.svg?v=3" style="margin-right: auto; margin-left: auto; text-align: center;" alt="
            בתמונה: שאילתה שבנויה מ־7 פסוקיות: SELECT, FROM, WHERE, ORDER BY, GROUP BY, HAVING ו־LIMIT.
            משמאל למילה FROM מופיע עיגול עם הספרה 1,
            משמאל למילה WHERE מופיע עיגול עם הספרה 2,
            משמאל למילה GROUP BY מופיע עיגול עם הספרה 3,
            משמאל למילה HAVING מופיע עיגול עם הספרה 4,
            משמאל למילה SELECT מופיע עיגול עם הספרה 5,
            משמאל למילה ORDER BY 6 מופיע עיגול עם הספרה
            ומשמאל ל־LIMIT מופיע עיגול עם הספרה 7."/>
    <figcaption style="margin-top: 2rem; text-align: center; direction: rtl;">
        איור שממחיש את סדר הרצת הפסוקיות בשאילתת SQL שמבצע מנוע ה־SQL על מסד הנתונים.
    </figcaption>
</figure>

## <span style="text-align: right; direction: rtl; float: right; clear: both;">תרגילים</span>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">ילדים זה שמחה?</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הוכיחו או הפריכו: קצב הילודה בעולם צונח בקצב מסחרר.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כתבו שאילתה שעבור כל עשור מ־1920, מחשבת את ממוצע הילדים של בעלי התפקידים שנולדו באותו עשור.<br>
    אל תציגו עשורים שבהם יש לנו נתונים על פחות מ־6,000 בעלי תפקידים.<br>
    סדרו את הנתונים בסדר יורד, לפי ממוצע הילודה באותו עשור.
</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">פרס טומי</span>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    פרס טומי הוא פרס מרגש שהמצאתי ממש הרגע, ומחולק לפי הכללים שמופיעים להלן.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    המועמדים לפרס הם כל הסרטים שדורגו לפחות 30,000 פעמים, והציון הממוצע שלהם הוא לפחות 8.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בפרס טומי, "אורך הסרט" מוגדר לפי אורכו של הסרט בשעות.<br>
    אם אורכו בשעות הוא לא מספר שלם, מעגלים אותו לשלם הקרוב.<br>
    כך סרט שאורך 61 דקות נחשב כסרט של שעה, וסרט של 100 דקות נחשב כסרט של שעתיים.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בכל שנה, ישנה קטגוריה עבור כל אורך סרט אפשרי. בכל קטגוריה מחולק פרס אחד בלבד.<br>
    הפרס מחולק עבור הסרט שהדירוג שלו הוא הגבוה ביותר עבור אותה שנה, בקטגוריית האורך שלו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    כך לדוגמה אם יצאו בשנת 2001 ששת הסרטים הבאים:
</p>

.-----.--------.--------.-----.
|movie|duration|avg_vote|votes|
|-----+--------+--------+-----|
|    A|       1|     8.1|30001|
|    B|       1|     8.9|16432|
|    C|       1|     8.6|66666|
|    D|       2|     8.2|    2|
|    E|       2|     7.9|72345|
|    F|       3|       9|99999|
'-----------------------------'

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    התוצאות יהיו ש־C זכה בשנת 2001 בקטגוריית האורך של שעה.<br>
    ל־B לא היו מספיק הצבעות כדי להיות מועמד, ו־A דורג נמוך מ־C ולכן הפסיד לו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בקטגוריית האורך של שעתיים באותה שנה לא זוכה אף סרט.<br>
    הסרט D נפסל כיוון שאין מספיק אנשים שהצביעו לו, והסרט E נפסל כיוון שהדירוג שלו נמוך מדי.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    בקטגוריית האורך של 3 שעות זוכה הסרט F, שהוא גם המתמודד היחיד על הפרס לקטגוריה הזו בשנה הזו.
</p>

<p style="text-align: right; direction: rtl; float: right; clear: both;">
    הציגו את הזוכים מכל הזמנים, בכל הקטגוריות.
</p>